[2019-03-11 21:10] stronics opened #8 "[Datasets] Different Repos for public and private metadata?"
There should be further discussions on whether we want to have a `conp-dataset-public` for public metadata and a `conp-dataset-private` for private metadata.

Another possibility is to agree that **all** metadata should be public, but we remove files in the annex in the public `conp-dataset` and keep it as a separate private repo on Github. Only whitelisted users will be able to access these priva

[2019-03-11 21:25] kchatpar opened #9 "[Suggestion] Create a cloud migration protocol/connect CONP to the cloud."
One trend that is quite prevalent in the scientific industry is storing data on hard drives and not servers. CONP assumes that the lab is storing there data on a server. Providing a protocol on how to migrate data onto AWS(any cloud server) and for CONP to be able to access laboratory data stored in the cloud is quite  important.

Solution: provide laboratory's with a VM through a cloud re-seller

[2019-03-12 03:26] jbpoline commented on #9
Yes, we had some discussions around this kind of idea, thanks for posting. To be discussed further afer the Toronto meeting.

[2019-03-14 13:15] paiva opened #10 "[Phantom Dataset] Add Simon's Dataset"
http://fcon_1000.projects.nitrc.org/indi/retro/SIMON.html

[2019-03-14 13:30] paiva opened #11 "[Phantom Dataset] Add Samir's phantom on conp-dev.loris.ca"
Need to use the LORIS API to retrieve Samir's phantom data from the phantom VM to conp-dev VM

[2019-03-14 13:31] paiva opened #12 "[Prevent-AD] Add Prevent-AD Open on conp-dev.loris.ca"
Need to use the LORIS API to retrieve the open Prevent-AD data on the conp-dev.loris.ca VM

[2019-03-14 14:13] glatard commented on #8
The best would be to handle this through GitHub permissions on sub-datasets.

[2019-04-04 19:22] kchatpar opened #15 "[Dataset] Make Simon's Dataset Splitable"
Simon's data set can be found [here](http://fcon_1000.projects.nitrc.org/indi/retro/SIMON.html). Simon's dataset can be found under the Simon_Dataset branch. Dataset needs to be split into two independent datasets one public and one private. There needs to be a symlink connecting the two datasets.

[2019-04-04 19:24] glatard commented on #15
Hi @kchatpar, path in the DataLad dataset aren't dependent on whether the data is public or private. It's up to the storage platform to enforce access rights.

[2019-04-08 19:30] paiva opened #16 "Continuous integration of datasets"
* We need to create a document outlining how to test PRs and to decide what is a good dataset to merge on `conp-dataset`

* It would be nice to build some automation around this, maybe look into Travis to see if we can automate some of the tests (like valid links)

* Also, we will require 2 reviewers before merging a PR

[2019-04-08 19:34] paiva commented on #16
Should this be a document inside this repository or part of `conp-documentation`?

[2019-04-08 19:36] glatard commented on #16
I think it should be a markdown file in this repo and a `.travis.yml` file.

[2019-04-08 19:37] jbpoline commented on #16
I'll create something on the doc

[2019-04-11 14:31] glatard commented on #16
Sorry @jbpoline, I really think these requirements should be in conp-dataset as it is very specific to this repo and might evolve with it.

[2019-04-11 14:32] glatard commented on #16
We should also consider creating a `develop` branch for the dataset and have release cycles.

[2019-04-11 19:08] kchatpar opened #21 "[Dataset] Unzippable files in Simon's dataset"
While unzipping files in Simon dataset. Some of the files exit with an unexpected end of file error.

Here are the files with the errors:
Errors:
gzip: ses-025/dwi/sub-032633_ses-20150410-CINQ_run-1_mod-DTI_ADC.nii.gz: unexpected end of file
gzip: ses-028/func/sub-032633_ses-20150601-CONC_run-1_mod-fMRI.nii.gz: unexpected end of file
gzip: ses-029/asl/sub-032633_ses-20151020-GEMI_run-1_mod-ASL__Ra

[2019-04-12 19:06] kchatpar opened #22 "Write a script to automatically convert datasets to a datalad dataset"
Write a script that traverses the directory of a dataset and executes the commands in each respective directory to convert the file structure to a Datalad dataset.

[2019-04-17 14:48] stronics opened #26 "Convention for hosting datasets in this repository"
I think it would beneficial that going forward we agree on the convention for 'how' we will organize and host datasets. Currently, datasets are either under `projects` or under `investigators`.  Under this convention, what differentiates hosting datasets under `projects` vs `investigators`? If we take the example of Simon's Phantom dataset, should it be under `projects` or under `investigators`?

[2019-04-17 17:09] glatard commented on #26
Initially I thought that it would make sense to separate individual people from larger projects, in particular when it comes to derived data. For instance, I'd like to upload my data processing experiments, e.g., to be able to share the results of a paper, but that may not fall under a larger project like the ones listed here. I think it's important that researchers have a place to put their deriv

[2019-04-26 12:08] jbpoline opened #36 "PERFORM Dats model missing ?"
I cannot see the json dats model for PERFORM, do/can we have one ?

[2019-05-27 19:45] glatard commented on #16
Can we list here the requirements before a PR can be merged, before we add them to Travis tests?
[ ] dataset can be installed, recursively if it has sub-datasets
[ ] every file in the dataset has a URL
[ ] every file can be retrieved *or* requires authentication (not sure how to test when authentication is required)
[ ] DATs model is present and valid

[2019-05-27 20:02] paiva opened #42 "MouseBytes Dataset"
It would be a good idea to try to get the MouseBytes dataset presented at the CONP Plenary meeting on the CONP Portal

[2019-05-28 01:25] jbpoline commented on #16
Shouldn't we also testing that when logged on the portal we can actually download the data ? Not sure that can be automated but we shouldn't have hundreds of datasets soon, so to start with this could be manual.

[2019-05-28 01:34] jbpoline commented on #42
Agreed - do you have the contacts for that ? I can dig this out if not.

[2019-06-05 17:50] paiva opened #45 "Ethics Templates"
Perhaps the hardest part in sharing a dataset is to get the Ethics part approved and on point. If we were to provide templates/examples on how to get a study approved in the CONP portal, somewhere, it would facilitate the sharing of a dataset.

[2019-06-05 17:56] paiva opened #46 "Combine Dataset ID with OpenID?"
Is there a way we could combine the id of a dataset (or subdataset) with the OpenID that @johnsaigle is working on?

[2019-06-05 23:44] johnsaigle commented on #46
The Open Science Identifier is completely standalone:
https://github.com/aces/open_science_identity

There are examples there in many languages. You can easily generate them and store them in your application.

When it comes time to link data between your tool and LORIS (or others), they can be joined using the ID.

[2019-06-13 14:40] glatard commented on #16
Here is a summary of TODOs regarding this:
- Create a .travis.yml file and add the project to Travis. Add Travis badge to README.md
- Using Datalad's Python API, create a test script that iterates through the sub-datasets and checks that:
    * Dataset can be installed, recursively if it has sub-datasets
    * Every file in the dataset has a URL
    * Every file can be retrieved or requires authen

[2019-06-25 19:31] glatard opened #51 "PR template"
We should create a template for pull requests, containing a check list of required properties for the new dataset. A good start for the template is the one now in use for conp-portal (see [here](https://github.com/CONP-PCNO/conp-portal/blob/master/.github/PULL_REQUEST_TEMPLATE.md)). The checklist should contain the items being implemented in continuous integration: https://github.com/CONP-PCNO/con

[2019-06-25 20:18] jbpoline commented on #51
Agreed. @paiva @PapillonMcGill can you take that on board ?

[2019-06-26 11:29] PapillonMcGill commented on #51
@jbpoline Yes, we can definitively. It should also contain a link to the list of metadata fields and their priority (Required, Recommended, Optional,...) when ready

[2019-06-26 18:02] glatard opened #52 "Nexus testing"
[Nexus](https://github.com/BlueBrain/nexus) is a platform for metadata storage, integration, and search. We should test how metadata could be exported from DataLad to Nexus, to offer higher-level, Rest-based, search functionalities. Nexus has a Python SDK that should make it easy to add metadata to an existing central repository. The first test should be to take a DATs model from a CONP dataset an

[2019-06-26 18:25] paiva commented on #52
Thanks Tristan, we will put this on the roadmap

[2019-06-27 02:17] glatard commented on #51
A good part of it is in #50. @jbpoline, would you like to review it?

[2019-06-27 13:44] glatard commented on #16
A few questions showed up as @joeyzhou98 is working on this:

1. Some datasets, for instance the OpenNeuro ones, require configuration for DataLad to be able to get data. For instance: `git annex enableremote <blah>`.

-> We suggest to require that such configurations are put in a `config.sh` file at the root of the dataset. `config.sh` would be sourced by the testing framework before attempting t

[2019-06-27 20:28] glatard opened #54 "Add a license to this repository"
## Purpose
Add a license to this repository.

## Context
The [GitHub community guidelines](https://github.com/CONP-PCNO/conp-dataset/community) recommend to adopt a clear license for any community-driven project. We need to clarify that. This license would cover the actual content of this repo, i.e., the metadata and any other file (test files, etc). The data itself wouldn't be covered, as it is n

[2019-06-27 20:32] shots47s commented on #54
So this would be a license to the software in the repository or for the data? This is interesting, because we don't necessarily hold the license on the data, so really each dataset should specify what their licensing is.  Our should be a license on the "metadata" and other accoutrement around it.  Right?

[2019-06-27 20:47] dlq commented on #54
While GitHub "recognizes" mainly open source software licenses:

https://help.github.com/en/articles/licensing-a-repository#searching-github-by-license-type

You can put whatever the original license for the data is in `LICENSE.txt`.

But, hmm, yeah, the license text that's in the GitHub repository I guess could be about the metadata in that repository but the license text that's in the data direc

[2019-06-27 21:24] glatard commented on #54
Indeed, as explained in the issue, the license would *not* cover the data. It would only cover what's in the repo, i.e., metadata and other secondary files that might get in there.

[2019-06-27 21:47] shots47s commented on #54
Then my vote is MIT, unrestrictive as can be.

Shawn T. Brown, Associate Director of Research Software Development, McGill
Centre for Integrated Neuroscience

On Thu, Jun 27, 2019, 5:24 PM Tristan Glatard <notifications@github.com>
wrote:

[2019-07-03 13:16] shots47s commented on #52
Questions that I think need to be answered in this evaluation:

1. Do we need to install and maintain our own instance of Nexus, and if so, what is the effort required to do that.
2. Is it possible to still use our "Polystore" model of remote datasets through the Nexus system (a presentation by the Nexus folks put this in question as they seem to support mostly an ingestion model, but it was not i

[2019-07-03 13:50] glatard commented on #52
5. To me Nexus is a powerful way to present metadata initially stored in DataLad. DataLad enables a decentralized, git-based approach to interoperability while Nexus provides better search through a Web service.

[2019-07-03 20:47] slhill commented on #52
We’re very happy to help support this evaluation.

Some initial feedback on your questions:

The team here at KCNI can provide their feedback on the process of installing and maintaining Nexus at CAMH using OpenStack. The Nexus team in Geneva also has experience operating Nexus on AWS. Their build system automatically provides updated docker images as well. A full production deployment (with many

[2019-07-04 11:30] shots47s commented on #52
Thanks Sean,

This is all very helpful information, we are looking forward to and have already begun evaluating.  Your help and support is greatly appreciated and I am sure we will reach out to the team as we have more questions.  Currently, the initial feedback has been positive.

[2019-07-04 14:38] glatard commented on #16
Notes from the dev meeting today:
1. We agreed on having a `config.sh` at the root of the datasets for configuration. If it exists, this script should be sourced.
2. We will go with option a.: leave the datasets in the repo and test them.

Additional comments:
* We will also request that the dataset has a `README.md` file at the root of the dataset.
* The DATS file must be called `dats.json` and b

[2019-07-04 14:56] glatard opened #57 "Improvements to the contribution guide"
## Purpose

- (A) Intended audience for the document, and what is there experience?
  - Maybe move the suggestion about reading GitHub documentation prior to the workflow heading (since there appears to be an underlying assumption of knowing how to use git.
  - Where should a user go / who to contact if there is an issue - post under issues in the repo? Would have a help or contact section near th

[2019-07-04 14:58] glatard commented on #57
Hi @kaitj, thanks for all the suggestions. Quick question for now: what do you mean by "in different documentations"? Are you referring to other CONP documentations? If yes, we should definitely harmonize all that.

[2019-07-04 15:43] glatard commented on #57
(A) should be fixed in #58, feel free to chime in @kaitj

[2019-07-04 17:29] kaitj commented on #57
Yep, in other CONP documentations. Would be great if is harmonized.

Looks good!

[2019-07-04 17:30] glatard commented on #57
Could you point me to that other CONP documentation you are referring to?

[2019-07-04 17:48] kaitj commented on #57
If I recall, it was primarily:
* Prevoius version of the README (I think most of this is in the Contributing document now)
* [adding_datalad_datasets_workflow.md](https://github.com/CONP-PCNO/conp-documentation/blob/master/Datalad/adding_datalad_datasets_workflow.md)

The confusion at the time was mostly working with the submodules in the dataset (eg. using the `git submodule add` command to add t

[2019-07-04 19:46] dlq opened #59 "Explore automatic linting and crawling of associated submodules separate from continuous integration."
## Purpose

Explore and define the validation rules for a project independant of a continuous integration process so that they can be run separately before committing a new submodule or apply to an existing repositories.

## Context

How can we automatically check the structure and contents and of a (potential) repository for use by the data hub?

## Possible Implementation

Maybe we can adapt som

[2019-07-04 19:55] glatard commented on #59
Hi @dlq, the tests executed by the CI process will be available through pytest and could be run locally. Do you think it would address this issue?

[2019-07-04 20:00] dlq commented on #59
That could work.  I'm just trying to think how these tests could be run by someone preparing a data repository.

[2019-07-04 20:20] glatard commented on #59
They could just run `pytest` in the base directory.

[2019-07-04 20:52] dlq commented on #59
In which base directory?  In the base directory of their forked conp-datasets repository?  Or of their particular data submodule repository?

The first option will potentially have to check a lot of submodules. How?  How fast?

In the second option, where do the tests come from?

[2019-07-04 20:56] glatard commented on #59
in the base directory of their forked conp-datasets repository. We could have options to skip tests for all datasets but the one they are interested in. @joeyzhou98 could investigate that if it makes sense.

[2019-07-04 21:15] dlq commented on #59
Ok. That makes sense.

Based on his feedback I’ll mark this as closed

[2019-07-17 15:09] dlq commented on #59
This seems to belong in existing continuous integration efforts.

[2019-07-17 15:09] #59 closed

[2019-07-24 17:05] emmetaobrien opened #65 "Generating size and file number statistics on ingestion of new dataset"
## Purpose

Providing basic statistics concerning the size and number of files in a given dataset for the landing page.

## Context

The size of a dataset. and the number of files it contains, are useful summary information for a user to be able to see at a glance on the landing page.  Given the range of possible back ends we expect to cover, it seems appropriate to calculate these values on inges

[2019-07-25 16:28] emmetaobrien commented on #52
I have been experimenting with the online sandbox, uploading data and running test Elastic queries and so on, and have found it quite straightforward to learn.  I think the functionality that we would want for data import and maintenance is there, and I think we would want an installation of our own and I'd probably use the command line interface more for that kind of task myself.

[2019-07-25 20:26] gi114 opened #66 "Dats model file validator"
## Purpose
Validate Dats model based files in terms of structure, use of standard keys and required, recommanded and optional fields

## Context
Automatic test on dataset dats.json files

## Possible Implementation
Currently a perl and a python scripts were attempted to accomplish this functionality:
- Perl: https://github.com/conpdatasets/1000GenomesProject/blob/44a7ee921ec5e1ced3991fab443d50f5af

[2019-07-29 13:18] emmetaobrien commented on #66
That perl script validates a JSON file against a user-specified schema file, and is intended for use with schemas from https://github.com/biocaddie/DATS - so if you give it https://github.com/biocaddie/DATS/dataset_schema.json as input, it already is validating DATS model features.

[2019-07-29 15:08] gi114 commented on #66
HI, thank you for your message. Yes, I did try that and found that the perl
scripts validates only the overall structure, for example brackets, empty
fields, but it does not know anything about the fields keys that are
present in the file to be validated. With that respect, the "description"
key could be anything else, or not be there at all.

What we want is to give a clue of the required, recomm

[2019-07-29 15:24] emmetaobrien commented on #66
I have just tested this script against the DATS.json file for 1000 Genomes Data, removing the "title" field, and I get the following result:

[code]
Can you confirm whether you get the same result ?

[2019-07-30 17:35] glatard opened #67 "Datasets don't pass tests"
Continuous testing of datasets is now in place, see https://travis-ci.org/CONP-PCNO/conp-dataset However, no dataset currently passes the tests. We need to fix it or the tests are essentially useless.

## Expected Behavior

All the datasets in this repo should pass the tests.

## Current Behavior

All the datasets are currently failing the tests.

## Possible fix (optional)

This should probably b

[2019-07-30 21:19] #51 closed

[2019-07-31 14:28] glatard commented on #16
This is addressed in #55.

[2019-07-31 14:28] #16 closed

[2019-07-31 15:50] gi114 commented on #16
Hi,

Thank you for sharing the information.

I am currently writing the dats validator and will definitely share what I
have for the moment this is the link:
https://github.com/CONP-PCNO/dats-validator

Unfortunately I am in on Thursday and Friday every week only, so apologies
for missing other meetings. I will try to catch up as much as possible, so
feel free to send me any relevant things discus

[2019-07-31 16:19] gi114 commented on #66
Hi,

I did launch the same command and had errors on the json structure, @type
key but not on other cases. I will test the title as well and will let you
know what I get.

Apologies for replying late, I only work Thursdays and Fridays, so will get
back to you tomorrow on this

Best
Giulia

[2019-08-01 13:36] gi114 commented on #66
Hi,

I just tested the validator on this file: https://github.com/CONP-PCNO/dats-validator/blob/Dats-key-validator/dats/dataset.json

This dataset.json file should have all fields recommended and required by the DATS (except version). I believe the $schema should also be removed

I tested it by deleting title and I got the following:
[code]

[2019-08-01 16:07] paiva commented on #10
Dataset added

[2019-08-01 16:07] #10 closed

[2019-08-01 16:07] paiva commented on #11
Done

[2019-08-01 16:07] #11 closed

[2019-08-01 16:07] paiva commented on #12
Done

[2019-08-01 16:07] #12 closed

[2019-08-02 17:26] gi114 commented on #67
Hi @glatard

Luckily the issue seems to be very straightforward and valid for all datasets tested here: They all miss a dats.json file at the root directory. This is because we only recently formulated this requirement and it has not yet been implemented in any of the datasets. The first example in the pipeline I believe is in PR for the visual-working-memory dataset.

This is the PR: https://gith

[2019-08-03 13:29] glatard commented on #67
Hi @gi114, checking the presence of dats.json is the first step in the tests, but the next ones might also fail. A more complete checklist is here: https://github.com/CONP-PCNO/conp-dataset/blob/master/.github/PULL_REQUEST_TEMPLATE.md You should run the tests locally to make sure that everything passes.

[2019-08-03 13:53] gi114 commented on #67
Hi Tristan,

Perfect, thanks for sharing!

Best
Giulia

Il giorno sab 3 ago 2019 alle ore 09:29 Tristan Glatard <
notifications@github.com> ha scritto:

[2019-08-08 18:49] gi114 commented on #67
Hi,

I spotted another problem related to the visual-working-memory dataset which has a file called README but not a README.md and the tests do not recognize it..that caused the test to fail locally even if a DATS.json file is present at the root. If both these requirements are met, the tests pass for this dataset though.

Will tests be accepting README as well as a change? otherwise I will specif

[2019-08-08 19:51] gi114 commented on #67
Hi,

For the moment this is a li[localTestsResults.txt](https://github.com/CONP-PCNO/conp-dataset/files/3483408/localTestsResults.txt)st of issue for each of the datasets in project.

[localTestsResults.txt](https://github.com/CONP-PCNO/conp-dataset/files/3483409/localTestsResults.txt)

[2019-08-08 20:58] glatard commented on #67
I think enforcing README.md is good, so that README files display well on GitHub.

[2019-08-09 13:33] gi114 opened #68 "conp-dev.loris.ca server ssh port is not open"
## Purpose
Trying to ssh to conp-dev.loris.ca in order to add a new dataset to CONP

## Context
The default port for ssh (port 22) is filtered for some blockage maybe firewall. This is blocking the addition of the dataset. It is required help from someone managing this server access

[2019-08-09 13:36] gi114 commented on #67
Hi @glatard, sure! I will update the current PR for the visual-working-memory repo so that README.md is enforced.

[2019-08-09 13:40] shots47s commented on #68
@gi114, the machine may be behind our firewall, try logging into 'login-host-1.acelab.ca' first and then you should be able to get on, or you can use the McGill VPN.

[2019-08-09 16:40] gi114 commented on #68
@shots47s, thanks. It is asking me for a password which I do not have. How should I go about it?

[2019-08-09 19:41] #68 closed

[2019-08-14 14:49] PapillonMcGill opened #69 "DATS to Schema.org conversion"
## Purpose
Creation of a script to convert DATS metadata to Schema.org format for Google indexing

## Context
Google only index dataset using Schema.org metadata file
https://developers.google.com/search/docs/data-types/dataset

## Possible Implementation (optional)
could be done in a Python script for easy portability and possibly running automatically with Travis.

[2019-08-16 14:25] gi114 opened #70 "Some files do not get added to Annex when Datalad download URL"
## Current vs Expected Behavior
While adding a new dataset to datalad by giving the download URL for each of the data sub repositories, I see that _some_ .tif .json and .mat (maybe others I have not tried) files do not get added to annex as expected. Others instead get added correctly

Sample errors logs:
[ERROR  ] unknown archive format for file `/data/conp/FRDR-multimodal-dataset/.git/annex/obje

[2019-08-16 15:32] jbpoline commented on #70
Hi Giulia -
could you put the code that led to the error in the issue so that we can reproduce it ?
quick question: do you think this is a git annex issue or a datalad one ?

[2019-08-22 19:25] gi114 commented on #70
Here I have an example with a .mat file:

[code]

[INFO   ] Downloading 'https://2a9f4.8443.dn.glob.us/5/published/publication_170/submitted_data/2015_5_6_striatum/mask/2015-5-6_mask.mat' into '/data/conp/multimodal-FRDR-dataset'
**download_url(ok)**: /data/conp/multimodal-FRDR-dataset/2015-5-6_mask.mat (file)
**add(ok)**: 2015-5-6_mask.mat (file)
**save(ok)**: /data/conp/multimodal-FRDR-dataset (

[2019-08-22 20:32] gi114 commented on #70
Hi,

From further investigation it looks like an Annex problem. The datalad command above has a flag ```--archive``` that allows passing downloaded files to ```datalad add-archive-content -delete```

There are different types of archives in git annex which support different files. Archives are required for storing repository data

[2019-08-23 00:02] jbpoline commented on #70
Hi @gi114  - what about not using the --archive flage (as this seems to add content, and we are trying to avoid adding content :)

[2019-08-23 17:33] gi114 commented on #70
Hi @jbpoline, yes I thought about it. Will give it a try

[2019-08-23 20:24] gi114 opened #73 "Adding workflow description of "Updating a Dataset" in README"
## Purpose
We would like to give a clear understanding and instructions on how to update a given dataset which stands as a git submodule in the CONP-dataset repository

## Possible Implementation
A drawing can be very effective to demonstrate the relationship between the dataset origin/master repository and the CONP-dataset repository that has the dataset as a submodule, or in other words it holds

[2019-08-23 20:43] glatard commented on #73
Hi @gi114, that would be very useful indeed!
A few questions and comments:
- Are you talking only about "updating" a dataset, or is dataset creation covered too?
- In steps 1 and 2, I don't think branching and PR'ing is necessary, although it might be useful when working on multiple changes concurrently. I would remove that, to get the simplest possible workflow.
- I would use "dataset-name" inste

[2019-08-28 18:28] joeyzhou98 opened #74 "Merge folders "investigators" and "projects" into a new folder called "datasets""
## Purpose
Merge folders "investigators" and "projects" into a new folder called "datasets" in order to have better structural organization

## Context
I am currently writing a Zenodo crawler to allow people to more easily upload datasets via a more automatized way where they can just upload their dataset to Zenodo with a "canadian-open-neuroscience-portal" tag/keyword and my script will retrieve

[2019-08-28 22:09] jbpoline commented on #74
I am in favor of this - but with no hierarchy, if the number of datasets gets large (a good problem to have) browsing in the portal may become cumbersome. This would be mitigated by a search system on tags.

[2019-08-29 15:17] gi114 commented on #73
Hi @glatard,
Thank you for your message:
- So I am talking about updating a dataset only here
- In steps 1 and 2 I think the user will have to make a branch/raise PR because changes need to be approved from the team if, let's say, we want to modify the dats.json file. Do you mean to just remove it from the steps description here?
- Agree, will chance SIMON-dataset to generic dataset-name
- So when

[2019-08-30 20:19] gi114 opened #76 "Datalad publish ERROR: stderr: 'error: RPC failed; curl 55 Failed sending data to the peer | fatal: the remote end hung up unexpectedly"
#### What is the problem and steps
This issue here is in the context of creating and populating a new dataset, creating a github sibling and finally publishing/pushing to github

So I create a sibling after populating my dataset. Everything is tracked so my ```datalad status``` has no output. Here it is my sibling information:

[code]
Therefore I want to push my changes to github
[code]

I wonder

[2019-09-02 18:35] jbpoline commented on #70
hey - was that resolved by not putting the `--archive` ? Michael says archive is only if you want to extract stuff from an archive (not the case for a mat file :)

[2019-09-02 18:46] jbpoline commented on #76
@gi114  :

siblings seem fine

where did you try to run that command from ? can I / someone go to that place and look at the dataset you are trying to publish?  what branch are you on when you are trying to push ?

if there is no subdatasets then `-r` is not needed

[2019-09-04 15:25] joeyzhou98 opened #79 "Automatic dataset upload and update via zenodo crawler"
## Purpose
The current system for uploading datasets to conp-dataset is complicated and hard to use for non programmers. Zenodo is easier to use and is flexible enough for people to upload their dataset. Having dataset owners upload to Zenodo then we can retrieve their dataset into this repository via a crawler and pull request.

## Context
This would facilitate dataset uploads and updates as data

[2019-09-05 15:31] gi114 commented on #76
Hi @jbpoline,

I am currently working in the lorisadmin@conp-dev.loris.ca machine, port 22014. Specifically in the /data/conp folder I created a datalad dataset called FRDR-multimodal-dataset

I did a lot of search but I still have issues understanding what is causing the problem. The machine is currently down for a power outage but should be back soon

[2019-09-05 16:08] PapillonMcGill commented on #76
Hello Giulia,

Can you delete the last comment you made at view it on GitHub<https://github.com/CONP-PCNO/conp-dataset/issues/76?email_source=notifications&email_token=AIFY3XJJXQVUJTR2KPHDJG3QIEQ6DA5CNFSM4ISQ24X2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOD57SKTY#issuecomment-528426319> Short of giving the password, all connections details are now public. This can cause a security

[2019-09-05 16:51] gi114 commented on #73
Hi,

Here I changed the SIMON-dataset to general <dataset-name>

Let me know your thoughts
![conpdataset-CONP interaction submodules update](https://user-images.githubusercontent.com/17640807/64362085-dc296a80-cfdb-11e9-8a4a-bcb7c506b831.png)

[2019-09-13 13:21] dlq commented on #79
If it’s uploaded first to Zenodo, does it need to be in `conp-dataset`?

[2019-09-13 13:23] glatard commented on #79
Yes, the point is to facilitate upload to conp-dataset through Zenodo.

[2019-09-17 13:59] shots47s opened #85 "Standardizing the name of the dats.json file"
## Purpose
There seems to be ambiguity in how the dats files are named in each directory.

## Context
In the mulitcentered-phantom, the dats file is named `multicentered-phantom-dats.json`

## Possible Implementation (optional)
We should declare that all dats files have the same name in the top level directory of the submodule, so that they are easily findable.  I would recommend `dats.json` so th

[2019-09-17 18:09] jbpoline commented on #85
The recommendation was DATS.json (IIRC) but lower case sounds good to me

[2019-09-17 18:11] shots47s commented on #85
Hmm, I am just worried about case insensitive, as long as it is definitely one or the other:

On mac and windows DaTS.json == Dats.json == dats.json == DATS.json

[2019-09-17 18:24] jbpoline commented on #85
Not sure  I get what you mean : do you mean the code should handle the file name as case insensitive ? sounds reasonalble - or do you want to recommend lower case to avoid the pb (which I would favor)

[2019-09-17 18:25] shots47s commented on #85
yes :)

[2019-09-17 18:31] jbpoline commented on #85
remember that in predicate logic A OR B is true iif A is true, or if B is true :)

[2019-09-17 19:57] shots47s commented on #85
Or in the immortal words of the President of the Federation of Planets in Star Trek VI, "Just because we can do a thing, doesn't mean we should do a thing".

[2019-09-23 14:12] glatard opened #89 "Separate integration tests from monitoring"
## Purpose

Tests currently test all the datasets systematically with every PR. This doesn't scale and will create timeouts when the number of datasets grows.

Instead, we should restrict the tests to check only the latest additions to the conp-dataset repo, including new sub-modules and updates in current sub-modules.

## Context

* It would reduce the testing time
* It would allow to test more t

[2019-09-23 14:17] shots47s commented on #89
This is an excellent point, if we get 100s of datasets, this will fail. +1

[2019-09-23 14:29] jbpoline commented on #89
Indeed +1
we should also have a mechanism to review all datasets periodically to see which ones cannot be downloaded and tag these

[2019-09-23 14:37] shots47s commented on #89
Correct, that is the point above about Nagios.  The purpose of our CI is test new Datasets for integration, and maybe some spot check, but we also don't want someone who is bringing in a new dataset to fail because of other datasets having intermittent issues, this is the job of something like Nagios, that we could run very regularly.  Thank or bringing it up @glatard, @joeyzhou98 , and @mathdugre

[2019-09-24 16:59] Park-Patrick opened #92 "Check datasets not directories"
- Needed for cases where datasets have subdatasets

Related discussion from pull request #87

@joeyzhou98: @glatard changing the tests to look at submodules instead is a big change to tests and might break other people's datasets so are you sure this is what we want?

@glatard: @joeyzhou98 I understand that, but I do think we want to check datasets (sub-modules), not directories. Do you see any ot

[2019-09-25 13:12] #85 closed

[2019-09-25 13:46] glatard commented on #89
Here is a better implementation plan, following today's discussion with @satra, @shots47s and @jbpoline:
1. Make a shallow clone of the master branch
2. Make a git diff with the incoming PR
3. From the diff, identify the datasets that are touched by the PR
4. For each touched dataset, run the tests
@joeyzhou98, let us know how that sounds!

[2019-10-09 18:35] #92 closed

[2019-10-16 18:12] joeyzhou98 commented on #74
@glatard yes, I will take care of this next

[2019-10-25 18:13] emmetaobrien commented on #66
Update to confirm the status of the perl DATS.json validator; correct usage of this script is:

```validate_json.pl <metadata_filename> <schema_filename>```

and (for the moment) the script expects to be run in the directory containing <schema_filename> with the relative path to <,metadata_filename> explicitly specified.

The above problems came about due to unclear communication about that usage,

[2019-11-06 14:53] glatard opened #104 "Contribute Zenodo crawler to DataLad"
## Purpose

When the Zenodo crawler is functional and tested, contribute it back as a crawler to DataLad so that others can use it.

@joeyzhou98 @mih

[2019-12-02 17:34] xlecours opened #116 "Missing logos for datasets"
## Purpose
I have added a default icon for the datasets in the /search page but having a specific logo for each datasets would be nice.

Some dataset logos can be found in `https://github.com/CONP-PCNO/conp-portal/tree/master/app/static/img`

## Context
Because maintaining those logo is a per dataset task

## Possible Implementation (optional)
Have a logo.png in the root directory of each dataset

[2019-12-05 15:08] glatard commented on #116
I think both your solutions should be available: look for a logo URL in DATS.json, fall back on logo.png at the root if not found.

[2019-12-05 15:13] glatard opened #118 "Interface bugs"
Here is a list of a few glitches in the interface:

* Dashboard: color code isn't consistent (caption has datasets in blue, y axis has pipelines in blue). There is no green bar while there are pipelines and datasets available.

![Screenshot from 2019-12-05 10-08-54](https://user-images.githubusercontent.com/5174953/70247437-5be3e400-1747-11ea-94b7-e94b536af40c.png)

* Search
   - Should be called

[2019-12-05 18:02] glatard commented on #118
Moving this to https://github.com/CONP-PCNO/conp-portal/issues/126 as it doesn't belong to the dataset.

[2019-12-05 18:02] #118 closed

[2019-12-12 20:20] xlecours opened #126 "PREVENT-AD description typo"
Please update to `Alzheimer’s Disease` instead of `Alzheimer Disease` and `Alzheimers Disease`

[2019-12-12 20:33] xlecours opened #127 "Download metadata button not working"
Until metadata is defined, have the button send the DATS.json

[2019-12-12 20:34] xlecours commented on #127
@xlecours

[2019-12-12 20:35] xlecours commented on #127
Wrong repo... sorry

[2019-12-12 20:35] #127 closed

[2019-12-13 15:07] emmetaobrien commented on #126
I have just corrected those and published to my fork, so that will be corrected when https://github.com/CONP-PCNO/conp-dataset/pull/125 is accepted.

[2019-12-16 18:37] xlecours commented on #126
Resolved in #125

[2019-12-17 21:47] xlecours opened #129 "Pipelines creation date"
To feed the conp-portal dashboard, we would need the creation date of the pipelines.
Looking at the zenodo_crawler I noticed that a `GET https://zenodo.org/api/records/?type=dataset&q=keywords:%22canadian-open-neuroscience-platform%22` returns an object in which the hits contains a "created" property. Could it be add to the descriptor file?

[2019-12-18 01:56] glatard commented on #129
@joeyzhou98, could you have a look at that? We need to get the upload date of pipelines, not datasets. I think it might take an update on bosh search.

[2019-12-19 17:22] #126 closed

[2020-01-15 20:21] PapillonMcGill opened #138 "confirm PreventAD-Open datasets files"
Confirm that every data files for PreventAD-Open is present in the dataset.
If not, recrawl

[2020-01-15 20:38] emmetaobrien opened #139 "Flag datasets as CONP/Canadian/external"
## Purpose

To label each dataset in CONP repository as belonging to one of three categories: a) CONP data; b) other Canadian data; c) data originating external to Canada, in order to better spotlight the focus of the CONP project for users.

## Possible Implementation (optional)

It is proposed to implement this with an additional field in the DATS.json files, under "extraProperties".  I propose

[2020-01-15 20:41] glatard commented on #139
Makes sense! Maybe we should define what "CONP data" means, as I'm not sure if any data is supposed to be acquired by CONP.
Also, I think this is a duplicate of https://github.com/CONP-PCNO/conp-portal/issues/153

[2020-01-16 15:18] emmetaobrien commented on #139
@glatard: My understanding is that this is something Alan has requested to allow us to highlight Canadian data within the portal, and the definition of what counts as CONP data will be supplied to us.

[2020-01-23 13:19] PapillonMcGill commented on #138
all files present
able to download

[2020-01-23 13:19] #138 closed

[2020-01-28 17:39] emmetaobrien opened #165 "Regeneration of phantom, preventAD data links for more stable servers"
The multicenter-phantom and preventAD-open datasets currently link to file archives stored on development machines (phantom-dev.loris.ca and conp-dev.loris.ca respectively.)  While these sites are currently functional, they may not remain so longer term, and it will be beneficial to regenerate datalad archives pointing at more stable addresses (e.g. phantom.loris.ca).

[2020-02-05 15:39] glatard opened #170 "Dataset download is not properly tested"
Some datasets, for instance "SIMON-dataset", pass tests while their data cannot be accessed. This seems to be due to (1) a bug in the recursion in the dataset dirs in `tests/functions.py`, (2) the fact that dataset download is only tested with probability `odds`, and there is no guarantee that exactly `num_files` files will be tested.

## Expected Behavior

Exactly `num_files` files should be test

[2020-02-06 14:09] glatard opened #173 "Crawler updates"
The following issues and feature requests were identified from the PR in https://github.com/CONP-PCNO/conp-dataset/pull/172 (dataset uploaded to Zenodo by @emdupre).

# Bugs

## DATS file
In:
[code]
* [x] The data size is incorrect: 15461B instead of 13.9GB
* [x] The formats should include txt, nii.gz, tsv and any other extension found in the data files

# Feature requests

## Improved README
* [x

[2020-02-07 18:00] emmetaobrien commented on #165
I have now got a LORIS crawler working and crawling phantom.loris.ca/api/v0.0.3-dev/projects/loris/images is under way.

[2020-02-10 15:01] emmetaobrien commented on #165
This crawl is complete and looks like it worked.

[2020-02-10 21:02] #173 closed

[2020-02-10 21:08] #170 closed

[2020-02-11 18:07] emmetaobrien commented on #165
I have now set up to crawl PreventAD data once that dataset is reorganised.  As of now, the PreventAD dataset consists of ~21,000 files in a single directory, and a version of this dataset with BIDS file and directory structure is due soon.

[2020-02-12 15:21] glatard opened #183 "File names in Zenodo crawler"
Zenodo crawler creates files that include Zenodo's API ids in their names, for instance:
`zenodo.org_api_files_4e3a636c_9af8_4ade_b652_e6faa82db617_LICENSE.txt`. It would be more readable if the API file id could be omitted. See more examples in https://github.com/conp-bot/conp-dataset-Learning_Naturalistic_Structure__Processed_fMRI_dataset/tree/eaf19424a12ecbac88b2d9566453289be4dc2274

## Expecte

[2020-02-12 17:45] xlecours opened #185 "Term of use should be present on every page unless acceted"

[2020-02-22 02:55] yarikoptic opened #208 "FYI: datalad update --follow=parentds -r is coming"
I believe it should address a use case of updating/merging subdatasets following this superdataset (as it is their parentds) instead of possibly merging updated states of the datasets from original authors.

PR https://github.com/datalad/datalad/pull/4167 is about to go in.

[2020-02-27 19:52] #67 closed

[2020-03-05 21:27] gi114 opened #223 "Cannot PUBLISH new dataset to CONP"
I was adding the current [dataset](https://dataverse.scholarsportal.info/dataset.xhtml?persistentId=doi:10.5683/SP2/QAIMTK) to this repository (CONP/conp-dataset) and I encountered an issue at the very end of the process when trying to publish the change. I have been following this [guide](https://github.com/CONP-PCNO/conp-documentation/blob/update_of_datalad_dataset_addition_doc/datalad_dataset_a

[2020-03-05 21:53] glatard commented on #223
Hi @gi114, nice to see data from FRDR coming!
1. Is your submodule available somewhere on GitHub? It should be.
2. You surely don't have push access to CONP/conp-dataset. If not done already, you should fork the dataset, push to your fork, and then PR to CONP/conp-dataset.
3. Even though the data files are small, they should be annexed. We don't want any data in the dataset repo.

[2020-03-06 15:36] gi114 commented on #223
Hi @glatard, thank you for your message. So I did try working from my fork as well (sorry I did not mention that), and got same result. I upgraded to datalad 0.12.2 now, so maybe that could have been the problem?

@emmetaobrien got it working in the meantime.

I am not sure which special remote we should use for this dataset, so I will update the repo accordingly. The [dataset page](https://datave

[2020-03-07 18:51] glatard commented on #223
the web remote sounds good, but if the data is in a single zip file we should use datalad's archive mode so that the individual files in the archive are exposed in the dataset.

[2020-03-07 23:01] gi114 commented on #223
Yes, sounds good to me

On Sat, Mar 7, 2020, 13:51 Tristan Glatard <notifications@github.com> wrote:

[2020-03-11 14:24] glatard opened #230 "Derived BigBrain datasets"
## Purpose

Integrate derived BigBrain datasets in the portal, as a first use-case of derived data support. Make sure that derived dataset can be linked to their parent (and conversely), in the portal and in DataLad.

## Context

Derived datasets are an important use case. BigBrain is a good case to start from, as there are a lot of derivatives, and it is an open dataset.

## Possible Implementati

[2020-03-11 14:29] akhanf commented on #230
@Martybird: is the current conp portal the most up to date data? As I recall, the reviewers asked data to be uploaded to open neuro, so the dataset there may be more up to date

[2020-03-11 14:31] Martybird commented on #230
The version on openNeuro and OSF are the most up-to-date indeed.

[2020-03-11 14:35] glatard commented on #223
Hi @gi114, is this still an issue?

[2020-03-11 14:37] glatard commented on #208
Thanks for the tip!

[2020-03-11 14:37] #208 closed

[2020-03-11 14:38] glatard commented on #185
Duplicate of https://github.com/CONP-PCNO/conp-portal/issues/158

[2020-03-11 14:38] #185 closed

[2020-03-11 14:43] emmetaobrien commented on #223
I was not able to duplicate the behaviour @gi114 was seeing; the Reusing-Neuro-Data dataset is now correctly loaded into the portal, but we have not actively identified or fixed whatever the underlying problem was here.

[2020-03-11 15:03] glatard commented on #223
ok, so closing this, feel free of reopen if needed, @gi114

[2020-03-11 15:07] cmadjar commented on #230
@akhanf Any chance you could update the dataset on CONP so that we have the latest version.

I will investigate on my end how we can link the raw and processed datasets on CONP and datalad.

Thank you!

[2020-03-11 17:07] cmadjar commented on #230
@akhanf actually, if the dataset that was used to produce the registration outputs is different from the BigBrain dataset hosted on CONP, it would be best to create a separate CONP dataset with the raw data that was used to produce your results.

If there is that need, would you be able to create such a dataset for the CONP portal.

Let me know. Thank you.

[2020-03-11 18:50] kaitj commented on #230
@cmadjar @Martybird @akhanf - Dataset has been updated at the source (khanlab-datasets) and a PR has been opened to merge into conpdatasets (https://github.com/conpdatasets/BigBrainMRICoreg/pull/2)

[2020-03-11 18:54] Martybird commented on #230
Thank you, Jason!

[2020-03-12 13:42] gi114 commented on #223
Hi @glatard,
I just tried publishing a different dataset, from FRDR still. I get the same behavior when trying to publish to origin

[code]
I am working on my fork of conp-dataset, updated with last changes. I am really not sure why. Do you have any ideas?

[2020-03-12 15:21] glatard commented on #223
@gi114 can you send the full output of the following command?
[code]

[2020-03-12 16:59] emmetaobrien commented on #223
Problem identified and solved, working with @gi114 just now.

Since the recent update to v12.n DataLad has been more consistent about annexing everything unless specifically instructed not to, and every time one edits and saves a file it will be annexed unless `datalad add --to-git <filename>` is used again.

The particular failure mode we were seeing here is due to DataLad annexing the .gitmodule

[2020-03-12 16:59] #223 closed

[2020-03-12 17:42] gi114 commented on #223
Yes, that's right, it is clear now

[2020-03-13 12:50] gi114 commented on #22
Hi,

We have documented procedures for adding a dataset to datalad:
https://github.com/CONP-PCNO/conp-documentation/blob/master/datalad_dataset_addition_procedure.md

I would suggest to close to issue of @jbpoline agrees

[2020-03-13 13:06] gi114 opened #234 "CONP datasets name convention required"
## Purpose
Define a naming convention for CONP datasets to clearly express their source, focus and use

## Context
At the moment, dataset names in [this repository](https://github.com/CONP-PCNO/conp-dataset/tree/master/projects) are not consistent, some of them are not expressing the dataset they represent, some of them are long and meaningless

## Possible Implementation
We could think of a possi

[2020-03-13 13:33] PapillonMcGill commented on #234
I do think it is not ours the regulate the way lab, PI, research center, etc name their datasets.

We could have some spelling criteria like letters, digits, hyphen, accented vs non accented chars or no special characters for technical reason but that is about the maximum we should do.

[2020-03-13 13:43] emmetaobrien commented on #234
I think we would benefit from names that are clearer than those some of the datasets have now, and less long and unwieldy than, for example, "MRI_and_unbiased_averages_of_wild_muskrats__Ondatra_zibethicus__and_red_squirrels__Tami", which would strike me as more a description than a name (and also looks like it has been truncated somewhere during processing).   Showing a description in the search r

[2020-03-13 13:48] PapillonMcGill commented on #234
In that case, yes, it look like they didn't had any name in mind and use the description. In fact the "name" was effectively truncated.
A limit of maybe 50 chars would be appropriate.

As for the details in that "name", they should go it the DATS.json files to be used by search engine.
When we will have hundreds (and even before), searcher won't decide to use a dataset by the name but by what is r

[2020-03-16 19:50] glatard commented on #234
Sounds good but let's also keep in mind that many datasets will be crawled and we have no way to enforce restrictions on names on these platforms (Zenodo, FRDR, OSF). So any unenforceable requirement would mean more human intervention in the data import process.

[2020-03-17 14:49] emmetaobrien commented on #234
We cannot enforce those requirements, but is it worth suggesting - for example in the documentation for using Zenodo to set up a dataset for CONP ingestion - good practices for names? I am thinking primarily in terms of people whose choices in putting data on those other platforms are influenced by wanting to see their data in CONP, datasets that are already in another platform are a different cas

[2020-03-18 14:43] cmadjar commented on #230
@akhanf @Martybird Your PR just got merged today meaning the BigBrainMRICoreg dataset is up to date for CONP.

Should the processed data in [BigBrainMRICoreg](https://github.com/conpdatasets/BigBrainMRICoreg) be linked to the native data stored in the [CONP BigBrain dataset](https://github.com/conpdatasets/bigbrain-datalad) or did you use different raw files to produce the processed data?

Let me

[2020-03-18 14:50] Martybird commented on #230
Hi,

The resulting data were all processed with MINC2 format, and then converted to NIFTI.
The final repository contains both data types, but the spatial transformations are only available in MINC format.

[2020-03-19 13:36] cmadjar commented on #230
Hi @Martybird,

Thank you for the quick reply.

So if I understand correctly, we could link the BigBrain dataset with the BigBrainMRICoreg dataset on the CONP portal as raw and derived datasets respectively?

Thank you!

[2020-03-19 13:37] Martybird commented on #230
@cmadjar Yes.

[2020-03-19 13:37] cmadjar commented on #230
great! Thank you so much!

[2020-03-19 18:14] glatard commented on #230
@Martybird did you use the version with 125 40-um blocks?

[2020-03-19 18:18] Martybird commented on #230
@glatard No, I didn't. I used the previous ICBM registration by Claude at 100um and 300um.

[2020-03-19 18:22] glatard commented on #230
so BigBrainMRICoreg isn't derived from the BigBrain dataset we have on CONP. Do you know if that volume that you used is available online anywhere?

[2020-03-19 18:25] Martybird commented on #230
@glatard I haven't look closely on the BigBrain dataset on CONP. The volumes are available at the BigBrain official website https://bigbrain.loris.ca/main.php?test_name=brainvolumes&release=2015

[2020-03-26 14:49] cmadjar opened #238 "Add different resolution of the BigBrain dataset"
## Purpose

In bigbrain.loris.ca, there are different resolution/registration available for the BigBrain dataset. They will need to be imported in CONP.

## Context

There are many big brain datasets available with different resolution and registration technics used. Currently, the BigBrain dataset only contains the 40um 3D blocks.

## Possible Implementation

Two possibilities were discussed duri

[2020-03-26 15:24] cmadjar commented on #238
List of what is available in bigbrain.loris.ca:

### 3-D Volumes (MINC and NIfTI files for all)

- Registration MNI ICBM 152 Space
  - Encoding 16-bit gray scale unsigned short
     - 4 volumes of different resolutions (100, 200, 300 & 400um)
  - Encoding 8-bit gray scale unsigned short
      - 4 volumes of different resolutions (100, 200, 300 & 400um)
      - ICBM 2009b Symmetric Template 500um

[2020-03-26 15:52] cmadjar commented on #238
I listed what is in LORIS when navigating through the LORIS website.

When I looked at the FTP website, I see that there are 2 releases: 2013 and 2015. There appears to be also more dataset types (like ROI, MRI, ...)
@glatard any suggestion on what we should do?

[2020-03-26 15:52] cmadjar commented on #238
BigBrain FTP site: ftp://bigbrain.loris.ca/

[2020-03-27 12:23] glatard commented on #238
Hi @cmadjar, I think option 1 is the way to go indeed. We could have 1 dataset with a sub-dataset for each resolution, data type (16/8 bits), and registration. I think surfaces and classified volumes are derived data though, so they could go separately.

@jbpoline and @samirdas may want to chime in here.

[2020-03-27 13:12] emmetaobrien commented on #238
@glatard: that will be straightforward to do and I can proceed whenever the decision is confirmed; still  also need to know whether to proceed with the 2013 or 2015 release, or both.

[2020-03-27 17:30] glatard commented on #238
Unless the Khan Lab's dataset uses the 2013 release, I would suggest sticking to the 2015 one. Let's consider the decision confirmed by today end of day if there is no objection by then.

[2020-03-27 17:36] emmetaobrien commented on #238
Both of the Khan lab BigBrain datasets we currently have are annotated as from the 2015 release.

[2020-03-27 23:51] #21 closed

[2020-03-27 23:51] #15 closed

[2020-03-29 17:36] samirdas commented on #238
Sounds good to me. :)

On Fri, Mar 27, 2020 at 1:36 PM emmetaobrien <notifications@github.com>
wrote:

[2020-04-01 19:01] cmadjar commented on #116
@glatard @xlecours Should this issue be closed? I feel like this one was completed (I see logos next to the datasets) but maybe I am wrong.

[2020-04-01 19:04] emmetaobrien commented on #26
This issue was resolved by https://github.com/CONP-PCNO/conp-dataset/pull/171

[2020-04-01 19:04] #26 closed

[2020-04-01 19:13] #8 closed

[2020-04-02 01:25] glatard commented on #116
The only remaining issue regarding that is that some datasets, in particular the ones crawled from Zenodo, have their logos specified as URLs and the portal doesn't display them. I guess that's one for @liamocn

[2020-04-02 15:26] emmetaobrien commented on #238
I have processed the 3D Volumes and 3D Classified Volumes data, which will be made available as part of https://github.com/CONP-PCNO/conp-dataset/pull/239, and am looking into the 3D Surfaces next.

[2020-04-10 18:03] glatard commented on #230
Thanks to all who contributed, correct me if this is not complete but I think there are now:
* 3 datasets derived from BigBrain (3D classified volumes, 3D surfaces, BigBrainMRICoreg)
* 3D blocks in different reference spaces were added to the BigBrain dataset

We should now think of representing relation "is derived from" in the datasets and portal. The main use-case for that would be for users to

[2020-04-10 18:04] glatard commented on #230
Tagging @jbpoline as this comes from a discussion we recently had together.

[2020-04-14 14:27] emmetaobrien commented on #230
@glatard: Your summary above is accurate.

There is nothing in DATS to specifically record an "isDerivedFrom" relationship, we would have to set that up ourselves under extraProperties, but that would be straightforward to do.  Alternatively, the "YODA" data organisation principles mentioned in the DataLad handbook involve storing  "isDerivedFrom" implicitly, in structures where a source dataset i

[2020-04-14 17:42] glatard commented on #230
Hi @emmetaobrien, yes, the YODA recommendation is what I thought we should do in point (1) of my post above (I didn't know it was part of YODA, thanks!). At this stage, I'm not sure if we should add this information in the DATS model, duplicating information in a possibly inconsistent way, or just rely on sub-datasets to store the derivation relation.

[2020-04-14 18:06] emmetaobrien commented on #230
I lean slightly to storing the information in DATS because it would be more explicit and not require users to be familiar with YODA, but am open to arguments either way.

[2020-04-14 19:22] glatard commented on #230
I think we should encourage putting parent datasets as sub-datasets no matter what, as it makes it way easier to access the parent data to understand and possibly reproduce the dataset. I'd say the question is whether we want to represent that in the DATS model in addition.

[2020-04-15 14:22] glatard commented on #230
Discussion from the meeting today: we will use both YODA and a property in the DATS model. The DATS model will include URLs of the Git submodule(s) found in the dataset. @emmetaobrien will create an example for that.

[2020-04-15 14:51] glatard opened #259 "Dataset monitoring"
## Purpose

A system to provide the current status of datasets regarding their passing of the tests.

## Context

Dataset availability changes over time. It would be useful to have a system to monitor their current status so that potential issues could be identified and fixed rapidly.

## Possible Implementation
1. Configure CircleCI to run the tests periodically
2. Write a script to return a JSON

[2020-04-15 15:22] emmetaobrien commented on #230
There is now an example at https://github.com/conpdatasets/BigBrain_3DSurfaces, which has both the raw BigBrain dataset as a submodule, and the field `extraProperties->derivedFrom` containing a link to the BigBrain dataset.

[2020-04-15 15:25] glatard commented on #230
Awesome! Does it require any update in the DATS schema? I think we could then PR that to the main dataset, and pass it on to @xlecours, @liamocn and @3design to represent this information in the portal.

[2020-04-15 15:31] cmadjar opened #260 "Received this email from Travis but not sure what to do with this?"
I received the following email from Travis for the conp-dataset repo:

![Screen Shot 2020-04-15 at 11 28 56 AM](https://user-images.githubusercontent.com/1402456/79355997-663f9700-7f0c-11ea-85e4-1904eeea7070.png)

Links from the picture:
- [Build #576 is still failing](https://travis-ci.org/github/CONP-PCNO/conp-dataset/builds/675330177?utm_medium=notification&utm_source=email)
- [95bd1a7 CHANGESE

[2020-04-15 15:33] emmetaobrien commented on #230
If this seems OK to everyone, I will update the documentation of our DATS schema accordingly.

I have also just done an equivalent update to https://github.com/conpdatasets/BigBrain_3DClassifiedVolumes

[2020-04-15 15:51] mathdugre opened #261 "Dev branch"
## Purpose
Creating a `dev` branch would allow an easier workflow for development.
For example, the test for authenticated datasets is skipped on PR for security reason.

## Possible Implementation (optional)
Point PR related to development to a `dev` branch.

## Related issues (optional)
#260 Fails due to the handling of authentication explained in #197

[2020-04-15 16:03] mathdugre commented on #260
@cmadjar, this issue arises since the test for authenticated datasets are currently skipped on PR for security reasons, however, they are not on the master branch of the repository (see _Handling authentication_ in #197). Due to missing configuration on the repo, the build is failing.

#252 is trying to address this issue for dataset from Zenodo

[2020-04-15 16:52] mathdugre opened #263 "Khanlab/HCPUR100-Template fails to download some files"
## Description
When trying to retrieve the files for _Khanlab/HCPUR100-Template_, some of them fail to download.

### Steps to reproduce:
[code]
### Output:
[code]

[2020-04-15 17:09] glatard commented on #263
does this dataset pass the tests?

[2020-04-15 17:12] mathdugre commented on #263
@glatard, yes it does.
I found this bug when I implemented my greedy approach in #254 .

[2020-04-16 22:33] mathdugre opened #264 "Fail to download multicenter-phantom"
## Description

The current build is failing, in part, since there is problem to retrieve files for the _multicenter-phantom_ dataset.

### Steps to reproduce:
[code]

**Sample output:**
[code]

#260 Reports a test failure partially due to this issue.

[2020-04-16 22:35] mathdugre commented on #264
@cmadjar, I was informed during a meeting with @glatard that you might know who was responsible of this dataset

[2020-04-17 15:47] emmetaobrien commented on #230
The documentation has now been updated.  https://github.com/CONP-PCNO/conp-documentation/pull/32

[2020-04-17 19:06] emmetaobrien opened #272 "Utility and future of DATS.json-ld"
One of the proposed purposes of having `DATS.json-ld` files was to provide schema.org-compatible information to allow CONP datasets to be indexed by Google, if I understand correctly, and that objective is now elegantly handled by https://github.com/CONP-PCNO/conp-portal/pull/195.

The current set of `DATS.json-ld` files is partial and they are incomplete because of updates to our `DATS.json` form

[2020-04-18 14:03] glatard commented on #230
Thanks for all this @emmetaobrien! I guess this is now ready for a PR to conp-datasets? Derived information would then be ready to be displayed in the portal.

[2020-04-20 14:23] emmetaobrien commented on #230
https://github.com/CONP-PCNO/conp-dataset/pull/275, not quite there yet but I am working on it now.

[2020-04-22 14:05] glatard opened #277 "Tag Zenodo/OSF users in the PR about their dataset"
## Purpose

Notify the user who uploaded a dataset to Zenodo or OSF that their dataset is being processed.

## Context

Give users news about their dataset.

## Possible Implementation (optional)

Tag users in the PR, which requires getting the user email or GH account from Zenodo or OSF.

@joeyzhou98

[2020-04-22 14:32] glatard commented on #230
Thanks @emmetaobrien for all the work in #275. The next step now would be to represent links between derived datasets and their parents in the portal. An easy way to do so would be to just have a list of parents and a list of children dataset in the dataset page. Maybe we could also add an icon on the front page to show that a dataset has x children.

I think we need @3design to chime in here and

[2020-04-22 14:36] cmadjar commented on #165
@emmetaobrien should this issue be closed since you moved the card to done?

[2020-04-22 14:41] cmadjar opened #278 "PREVENT-AD in BIDS"
## Purpose

The BIDS dataset has been created for PREVENT-AD but a few steps are still needed in order to release the BIDS dataset:

1) Create LORIS URL for the different files of the BIDS dataset so the files can be downloaded through the same LORIS token mechanism

2) Create/modify the datalad crawler to crawl the BIDS dataset from LORIS

3) Create a new dataset for the BIDS PREVENT-AD dataset c

[2020-04-22 14:44] emmetaobrien commented on #165
Yes, it should.

[2020-04-22 14:44] #165 closed

[2020-04-22 14:48] 3design commented on #230
This is quite interesting. Is there a way we can show it in a kind of relationship flow chart (reminds me of a file browser structure)?

A typical relationship chart may be helpful:

parent 1
  L child 1
     L child 2 (current dataset)

Of course, it gets a bit more complex if you need to show relationships where multiple datasets are used for the derived:

parent 1, parent 2, parent 3
  L child

[2020-04-22 14:55] glatard commented on #230
Indeed, a "file browser" structure might not work when a dataset has multiple parents. I had thought about an "email thread" kind of representation earlier but it has the same issue (derived datasets are a graph, not a tree). Your idea to have a more visual representation is awesome, I think it would be very impressive to give such a (clickable) high overview of relations between datasets. Here is

[2020-04-22 15:06] 3design commented on #230
The visual representation in your link is very nice. I think this would be very impressive as long as its also still usable and valuable for the user.

I think your steps would be good. A basic view and a more relationship-based view. (we can give the user a choice to load the relationship view)

[2020-04-22 15:13] glatard commented on #230
OK! So how do you think the design of step 1 could look like?

[2020-04-22 15:22] 3design commented on #230
I've been looking at https://fairsharing.org and they are using a 'chip' based system for their tags, etc.

https://fairsharing.org/FAIRsharing.jptb1m

maybe this can be adapted to our use:

Parent datasets: Chip 1, Chip 2, Chip, 3

This doesn't show the whole history, but it does show one step up (parents).

What are your thoughts? Is it enough to show the parents and have them clickable so that

[2020-04-22 18:42] zxenia commented on #272
My thoughts on this topic:
I think we definitely need to do more mapping from DATS to schema.org and/or PROV ontology, maybe some other schema. Mapping all fields would allow us to produce richer RDF data for all datasets - we can try to dump it in a triple store or in Nexus. We will need to generate stable URIs for each dataset.
The very valuable part of such an RDF graph would be ontology and co

[2020-04-27 13:43] #238 closed

[2020-04-27 13:44] #139 closed

[2020-04-27 13:45] #116 closed

[2020-04-27 13:46] #74 closed

[2020-04-27 13:46] #73 closed

[2020-04-27 13:47] #69 closed

[2020-04-27 13:47] #70 closed

[2020-04-27 13:47] #65 closed

[2020-04-27 13:48] #66 closed

[2020-04-27 13:49] #57 closed

[2020-04-27 13:49] #54 closed

[2020-04-27 13:49] #36 closed

[2020-04-29 13:25] cmadjar commented on #264
I think @emmetaobrien created the datalad dataset for the multi-center phantom.

If you need an account on the LORIS instance of that dataset though, I can help with that. Just let me know

[2020-04-29 15:04] emmetaobrien commented on #263
I have tried downloading the source dataset directly from https://github.com/khanlab-datasets/HCPUR100-Template and am getting failures:

` [ERROR  ] not available; No other repository is known to contain the file.; (Note that these git remotes have annex-ignore set: origin) [get(/data/temp-datasets/HCPUR100-Template/sub-HCPUR100/anat/sub-HCPUR100_t1w.nii.gz)]
get(error): sub-HCPUR100/anat/sub-HCP

[2020-05-04 13:37] mathdugre opened #292 "Error during PERFORM dataset installation"
Installation of PERFORM dataset errors during test; see [logs](https://app.circleci.com/pipelines/github/mathdugre/conp-dataset/256/workflows/c52eba14-d3d4-4948-8385-6d48e742261b/jobs/547/tests) for more infos.

## Current Behavior

[code]

## Environment (optional)

[code]

[2020-05-04 13:40] mathdugre commented on #292
It seems that Datalad cannot access the dataset remote. @joeyzhou98, do you know what could be the issue?

[2020-05-04 15:20] emmetaobrien commented on #263
I contacted Jason Kai and determined that these files had been updated at the Khan lab, but not in their github repository; Jason since updated the repository and I have merged those updates, and the files now appear to be working.

[2020-05-04 15:24] emmetaobrien commented on #264
I have recrawled [phantom.loris.ca](url) and updated the dataset with regenerated links, and am currently seeing inconsistent behaviour where the new links are downloading correctly for me but are still failing for @cmadjar; will look into this further.

[2020-05-08 16:06] yarikoptic opened #294 "Some subdatasets point to no longer existing commits"
I am trying to establish automated updates of this superdataset on http://datasets.datalad.org/?dir=/conp-dataset .  Some sub-datasets  cannot be updated to the versions (commits) known to the super-dataset, e.g.:
[code]
I guess because original subdatasets might have had new versions force-pushed thus killing some previous history.

[2020-05-13 14:49] glatard commented on #294
Hi @yarikoptic, thanks for pointing this out! Do you confirm that the changes in #295 and #296 solve the issue?

[2020-05-13 14:51] glatard commented on #263
@mathdugre do you confirm that this dataset is now functional?

[2020-05-13 14:52] glatard commented on #260
Closing this now, feel free to reopen @cmadjar

[2020-05-13 14:52] #260 closed

[2020-05-13 14:55] glatard commented on #129
Duplicate of https://github.com/CONP-PCNO/conp-portal/issues/248

[2020-05-13 14:55] #129 closed

[2020-05-13 14:55] glatard commented on #89
This is now supported as part of the test suite.

[2020-05-13 14:55] #89 closed

[2020-05-13 14:56] glatard commented on #79
This has been operational for a few months now.

[2020-05-13 14:56] #79 closed

[2020-05-13 14:56] glatard commented on #76
Hi @gi114, not sure if this is still relevant, feel free to reopen if it is.

[2020-05-13 14:56] #76 closed

[2020-05-13 14:57] glatard commented on #52
This is now being followed up in https://github.com/CONP-PCNO/conp-portal/issues/276

[2020-05-13 14:57] #52 closed

[2020-05-13 14:59] glatard commented on #22
@jbpoline and @kchatpar, do you think that another integration procedure than what is described in https://github.com/CONP-PCNO/conp-documentation/blob/master/datalad_dataset_addition_procedure.md would be useful?

[2020-05-13 15:09] mathdugre commented on #263
@glatard, the dataset is working properly now 👍

[2020-05-13 16:43] #263 closed

[2020-05-13 17:20] yarikoptic commented on #294
I think it is all good now, thank you!

[2020-05-13 17:20] #294 closed

[2020-05-14 01:22] gi114 commented on #76
Hi @glatard ,

Thanks for asking, this is no more relevant

[2020-05-14 20:56] emmetaobrien commented on #292
Can you confirm when access to this remote became a problem, or when PERFORM last accessed it correctly?  The last recorded update on that dataset was February 23.  This looks like it might be equivalent to the problem with the multicenter-phantom dataset documented in https://github.com/CONP-PCNO/conp-dataset/issues/264, though in this case `datalad get` is failing to retrieve the data files for

[2020-05-14 21:00] joeyzhou98 commented on #292
@emmetaobrien last time we checked, I was able to access PERFORM with the config and the right token. @mathdugre knows more about the setup and unlocking the dataset

[2020-05-15 13:18] emmetaobrien commented on #292
@joeyzhou98: Can you give me a specific date and time for that last time you checked?

[2020-05-15 14:36] cmadjar commented on #278
Follow up on where things are at on that front.

[x] LORIS API endpoints created (Point 1. of the description)
[x] Crawler updated (Point 2. of the description)

A few notes regarding this Point 2. of the description:
- code for the datalad crawler LORIS BIDS endponits template can be found [here](https://github.com/cmadjar/datalad-crawler/blob/preventad-open-bids_0.5.0/datalad_crawler/pipelines/l

[2020-05-15 17:17] emmetaobrien commented on #292
All right; looking at this in more detail, the link at Zenodo appears to be broken:

[code]

and then checking an individual link under datalad-archives:

[code]
and

[code]

[2020-05-15 17:48] joeyzhou98 commented on #292
@emmetaobrien yes that link is broken since PERFORM is a private dataset so a token needs to be appended to the end of the url. The crawler removes that token on purpose to keep it private. Last time I checked was 2 days ago and if you run the config script located at the root of the dataset with the right token, that script will append the token in the url you mentioned, "unlocking" the dataset s

[2020-05-15 17:54] #264 closed

[2020-05-15 18:25] mathdugre opened #302 "Khanlab/BigBrainMRICoreg file system check failure."
Running `git annex fsck` on the dataset results in failures.

## Current Behavior

[code]

see [CircleCI logs](https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/103/workflows/bba515cf-6ae5-4bda-b0c1-bbc1210421d4/jobs/185/tests).

## Environment

see [tests documentation](https://github.com/CONP-PCNO/conp-dataset/tree/master/tests#Dependencies).

[2020-05-15 18:27] mathdugre opened #303 "preventad-open file system check fails."
Running `git annex fsck` on the dataset results in failures.

## Current Behavior

[code]

see [CircleCI logs](https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/103/workflows/bba515cf-6ae5-4bda-b0c1-bbc1210421d4/jobs/185/tests).

## Environment

see [tests documentation](https://github.com/CONP-PCNO/conp-dataset/tree/master/tests#Dependencies).

[2020-05-15 19:59] cmadjar commented on #278
The issue in Point 2. is resolved by https://github.com/datalad/datalad/pull/4540.

Note that a different PR will be sent to the datalad repo by Yarik to fix a few other issues at the same time.

So for now, to have a crawler version that works:
1) create a new virtualenv for the LORIS BIDS crawler
2) clone my fork of the datalad repo and checkout Yarik's branch from the following PR: https://gith

[2020-05-15 21:31] cmadjar commented on #278
PREVENT-AD BIDS is now cooking... To be continued on Tuesday.

[2020-05-20 13:13] glatard commented on #261
After discussion, it's unclear how the `git-annex` branch should be managed when we have a `master` and a `develop` branch in the dataset. This needs further investigation.

[2020-05-20 13:15] #183 closed

[2020-05-20 13:18] glatard commented on #9
I feel like the Zenodo and OSF integration partially answer that issue. One useful thing though could be to make sure that a ready-to-go container exists that would contain all the required clients to access CONP datasets, i.e., a working combination of DataLad and git-annex. This is for sure available in our tests, but I'm not sure if it's well documented and accessible to users. @mathdugre, woul

[2020-05-20 13:19] glatard commented on #22
Closing this, feel free to reopen if the above-mentioned documentation doesn't address it.

[2020-05-20 13:19] #22 closed

[2020-05-20 16:18] emmetaobrien commented on #302
I have had mail from @kaitj confirming that this dataset has not been updates since February and that running `git annex fsck` at his end does not give any errors.

[2020-05-20 17:05] glatard commented on #302
@kaitj, could you let us know which version of git-annex you are using?

[2020-05-20 18:00] kaitj commented on #302
@glatard 7.20190819+git2-g908476a9b-1~ndall+1 (from git-annex-standalone) when I had run the command yesterday.

Also just checked with 6.20180227 (from git-annex; also did not give any errors)

[2020-05-20 18:40] emmetaobrien commented on #302
when I `datalad install` this dataset, I then get:

[code]

My installed version of git-annex is **8.20200309**

[2020-05-20 19:59] glatard commented on #302
@emmetaobrien the behavior you got is consistent with the one in the tests: https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/141/workflows/b5d6b149-4798-497b-8275-e49653d63862/jobs/256

@kaitj could it be that you have a local copy of the files somehow? And if so, could you start from a fresh clone of the data repo?

[2020-05-21 14:57] kaitj commented on #302
Just an update - dug into this a little more this morning. The local copies had the storage locations via `git annex whereis`, however the clones (both in `conp-dataset` and `khanlab-datasets`) seem to be lacking these URLs. Additionally, when the repo's are cloned to one disk, the URLs are available (same disk as where the `khanlab-datasets` is stored), but when cloned to a separate disk, the URL

[2020-05-21 16:32] emmetaobrien commented on #303
Testing now;  I am seeing those failures too. Is there a straightforward way in CircleCI to tell which datafile those files refer to ?  I've been poking around with git-annex and not finding a simple way to do so.

[2020-05-21 17:23] mathdugre commented on #303
The files seem to be related to the dataset metadata, however, I'm unaware of a way to extract more information about this error message.

[2020-05-21 17:26] mathdugre commented on #9
@glatard, I will update the documentation to include the CircleCI container.

[2020-05-21 18:17] mathdugre commented on #303
@emmetaobrien, It looks like the metadata for the dataset were not updated when it got restructured. From my understanding of DataLad internals, the last time the metadata were changed would be [here](https://github.com/conpdatasets/preventad-open/commit/c97a626e687007e7d92e3d4478d374952ad2c14c) which dates to when the dataset files were not structured.

[code]

[2020-05-21 18:19] emmetaobrien commented on #303
The only other dataset we have with content in `.datalad/metadata/objects` is multicenter-phantom, and while I haven't seen test results complain about it, the links it contains do not work either:
[code]

Looking at the date of those commits (13 months ago in both datasets), I think we may be looking at remnants of an unsuccessful or at least incomplete early experiment with a different part of t

[2020-05-21 19:05] mathdugre commented on #303
I agree that for now we might want to ignore them.
I will draft a pull request to address this issue.

[2020-05-21 20:41] emmetaobrien opened #309 "Procedures for dataset decay over time."
Arising from a conversation with @glatard and @joeyzhou98 on Slack earlier today.

It seems like a good idea to define procedures for how we will deal with maintaining and/or decommissioning CONP data sources when the project that generated the data comes to an end.  We have a defined `contact` field in the DATS model which should provide a point of contact for issues and queries during the lifeti

[2020-05-22 13:47] kaitj commented on #302
Ended up reinitializing the repo and made the PR at `conpdatasets` (https://github.com/conpdatasets/BigBrainMRICoreg/pull/4).

I think my previous PR (in March) to add the new files to the dataset modified the annex paths, which broke when running `datalad install` in a new environment resulting in the errors above.

[2020-05-27 20:13] #292 closed

[2020-06-02 19:38] cmadjar commented on #303
I wonder if this is linked to an issue I am having when creating the BIDS PREVENT-AD dataset: I always get an info displayed by DataLad telling me that the metadata could not be added to the images.

Could this have been the case when PREVENT-AD was originally crawled too? Or maybe totally unrelated...

[2020-06-03 03:03] #303 closed

[2020-06-03 03:06] #302 closed

[2020-06-03 03:08] glatard opened #321 "Intracellular_Recordings_of_Murine_Neocortical_Neurons"
DATS file doesn't pass validation:
[code]

See test build at https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/245/workflows/6b854ba7-56f6-4894-848b-f869de4ee4fe/jobs/459/parallel-runs/1?filterBy=FAILED

This is most likely coming from the OSF crawler. @joeyzhou98, could you have a look?

[2020-06-03 03:10] glatard opened #322 "Prevent-AD fails download"
* Test build: https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/246/workflows/30878278-9094-4aec-85e1-ab863dfe7ef9/jobs/461/parallel-runs/0?filterBy=FAILED
* Standard error:
[code]
* Help requested from: @cmadjar @emmetaobrien

[2020-06-03 03:12] glatard opened #323 "refseq_Homo_sapiens fails data download"
* Test build: https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/245/workflows/6b854ba7-56f6-4894-848b-f869de4ee4fe/jobs/459/parallel-runs/0?filterBy=FAILED
* Standard error:
[code]
* Help requested from: @emmetaobrien

[2020-06-03 03:27] glatard commented on #230
Hi @3design, this sounds very good to me for a first step. I guess this could now be sent to @liamocn to implement? @liamocn, to summarize the discussion above, the goal would be to:
* Parse DATS.json files, search for `derivedFrom` attribues. Example: https://github.com/emmetaobrien/BigBrain_3DClassifiedVolumes/blob/9245806c015cf389aba4e4959d6e130c0322568f/DATS.json
* If a dataset A was derived f

[2020-06-03 12:21] mathdugre commented on #322
Hi @glatard , This issue seems to be due to wrong authentication to prevent-ad:
[code]

[2020-06-03 13:18] cmadjar commented on #322
Indeed, this is most probably an authentication issue as I am able to download that file. Not sure how to fix that for Circle CI though since the username and password is asked again after a few days I think.

[2020-06-03 14:23] cmadjar commented on #309
https://github.com/CONP-PCNO/conp-portal/issues/301

[2020-06-03 14:26] cmadjar commented on #272
Discussed at the CONP dev meeting of June 3rd, 2020:
- Starting with putting the schema.org info from DATS
- Link with the GUI in the future https://github.com/CONP-PCNO/conp-portal/issues/301
- json-ld : will allow ingestion by Nexus

[2020-06-03 14:45] jbpoline commented on #42
update: Ali is hiring an open science developer who could do some work on this

[2020-06-03 17:23] cmadjar commented on #230
@emmetaobrien @3design @liamocn Can you guys work together to make that happen on the frontend before the end of June 2020?

I think there is a plan for @liamocn to start implementing on the portal.

Thank you!

[2020-06-03 19:03] cmadjar commented on #272
@emmetaobrien is the current CONP DATS schema in the schema.org format?

Timeline for this: end of August

[2020-06-03 21:57] cmadjar opened #325 "PREVENT-AD DOI needs to be added to the DATS.json file and README"
There is a DOI for preventad-open and it needs to be added to the DATS.json file and the README file.

Same thing as in: https://github.com/conpdatasets/preventad-open-bids/pull/2#pullrequestreview-423964772

preventad-open DOI: https://doi.org/10.5281/zenodo.3689943

[2020-06-04 09:11] joeyzhou98 commented on #321
@glatard here is the fixed dataset PR, https://github.com/CONP-PCNO/conp-dataset/pull/327. It should fix the DATS validation failing, let me know if there are any more problems

[2020-06-04 17:04] xlecours commented on #272
The code to generate a schema.org schema is at https://github.com/CONP-PCNO/conp-portal/blob/master/app/search/models.py#L332. I think this property of  DATSDataset objects is never called.

[2020-06-04 19:10] #323 closed

[2020-06-04 20:25] glatard commented on #321
tests pass now, thanks!

[2020-06-04 20:25] #321 closed

[2020-06-04 20:51] zxenia commented on #272
To add a bit more context: currently, only properties required by [CONP DATS](https://github.com/CONP-PCNO/schema/blob/master/dataset_schema.json) ([ "title", "types", "creators", "licenses", "description", "keywords", "version" ]) are used to generate json-ld for Google dataset search.

[2020-06-04 22:03] cmadjar commented on #325
- [x] Part one: update the dataset PR sent: https://github.com/conpdatasets/preventad-open/pull/32

- [ ] Part two: update the super dataset and preventad-open-bids with the latest commit of preventad-open.

[2020-06-05 11:16] glatard commented on #322
I just updated the username used in the tests (I think it was wrong), let's see if it works now.

[2020-06-05 12:13] glatard commented on #322
(it doesn't...)

[2020-06-05 16:48] #325 closed

[2020-06-05 16:49] cmadjar commented on #278
Now available on the portal: https://portal.conp.ca/dataset?id=projects/preventad-open-bids

The circle CI error might be related to https://github.com/CONP-PCNO/conp-dataset/issues/322 so I will create a new issue for that.

[2020-06-05 16:49] #278 closed

[2020-06-05 17:03] cmadjar opened #330 "preventad-open-bids - broken dataset"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/275/workflows/907c0fb6-2d43-4644-ada7-098413c16afc/jobs/522

* Standard error:
[code]

* Help requested from:
@glatard I guess the authentication needs to be updated there? No idea how Circle CI is working. I tried to create a ticket with relevant information but feel free to correct

[2020-06-05 17:04] cmadjar commented on #330
I updated the Circle CI environment variable to add the following:
PREVENTAD_OPEN_BIDS_USERNAME
PREVENTAD_OPEN_BIDS_PASSWORD
PREVENTAD_OPEN_BIDS_LORIS_API

and used the conp-portal account for that. Login information are correct so it should be able to log but the error reported here might also affect this dataset:
https://github.com/CONP-PCNO/conp-dataset/issues/322

[2020-06-05 17:19] cmadjar commented on #330
[code]

This is the exact same error as the one reported for the `preventad-open` dataset (#322).

Login credentials are correct (tested them in the frontend).

@glatard not sure what else to do at this point...

[2020-06-05 17:25] cmadjar commented on #330
restarted the job by update `PREVENTAD_OPEN_BIDS_LORIS_API` as I think it was incorrect. Added the `/login` part to the API URL while it should not have been there I guess.

[2020-06-05 17:48] cmadjar commented on #322
looks like preventad-open is fine now. But preventad-open-bids is still failing.

![Screen Shot 2020-06-05 at 1 47 35 PM](https://user-images.githubusercontent.com/1402456/83907283-2be7be80-a733-11ea-82a3-771967c97f83.png)

how did you fix it?

[2020-06-05 20:37] glatard commented on #322
oh, so I've been confused between the 2 preventad datasets and my credentials fix actually worked :) Can I use the same credentials (LORIS endpoint, username and password) to access preventad in bids?

[2020-06-05 20:39] glatard commented on #322
let's follow up on that in #330

[2020-06-05 20:41] cmadjar commented on #322
I am not sure if I believe the circleci status, right now, all datasets are in a warning state.

When I checked PREVENT-AD vs PREVENT-AD BIDS, both were failing. But then magically PREVENT-AD was working but that was this afternoon, way after the credential fix you did this morning.

Did you do anything this afternoon? If not, not sure why sometimes it fails and sometimes it works...

[2020-06-05 20:43] glatard opened #332 "MRI_and_unbiased_averages_of_wild_muskrats__Ondatra_zibethicus__and_red_squirrels__Tamiasciurus_hudsonicus"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/275/workflows/2656c3af-873a-4d68-a4f2-cde6f75c7ebb/jobs/525/steps

* Standard error:
[code]

* Help requested from:
@joeyzhou98
not sure why this is showing up only now, but a field is missing in the DATS model. I guess the crawler needs to be updated to include the `authorizations` field.

[2020-06-05 20:52] #322 closed

[2020-06-08 12:27] cmadjar commented on #330
Just checked PREVENT-AD open BIDS and it is still broken unfortunately. Not sure what to do about this though...

[2020-06-09 22:20] cmadjar commented on #330
Seems resolved magically...

[2020-06-09 22:20] #330 closed

[2020-06-11 14:22] emmetaobrien commented on #230
@cmadjar : I have just updated the BigBrain derived datasets accordingly.

[2020-06-14 00:30] #332 closed

[2020-06-14 00:33] glatard commented on #259
This is now available and tags are shown in the portal.

[2020-06-14 00:33] #259 closed

[2020-06-14 00:43] glatard opened #336 "Suggest a dataset to add"
If you just joined the CONP project, perhaps at a [BrainHack](http://www.brainhack.org) event, you could already contribute a great deal by suggesting a dataset to add to the platform. Does anything come to mind? If not, here are a few ideas to get started:

* Review the datasets available in the portal at https://portal.conp.ca/search Is there any dataset related to any of these that you can thin

[2020-06-17 05:16] mandana-mazaheri opened #337 "Datasets with no hash"
Not `MD5E `hashes in symlinks for some data files

I found that there are three CONP datasets:

which although in `.gitattributes` for all of them `annex.backend=MD5E`, in symlink of all data files there is no file hash as `MD5E`.

## Expected Behavior

It would be much helpful if for all datasets we have access to file hashes as `MD5E` as all datasets in this repository. I explained the details i

[2020-06-18 03:07] glatard opened #338 "BigBrain_3DClassifiedVolumes doesn't have a valid DATS file"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/362/workflows/dc192141-f465-44c5-ae2d-179bd34bbb5b/jobs/703/parallel-runs/1?filterBy=FAILED

* Standard error:
[code]

* Help requested from:
@emmetaobrien @zxenia
This may be related to the issue we were discussing on slack with @zxenia today: the DATS schema in the dataset is outdated.

[2020-06-18 03:14] glatard opened #339 "BigBrain_3DSurfaces doesn't have a valid DATS file"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/362/workflows/dc192141-f465-44c5-ae2d-179bd34bbb5b/jobs/703/parallel-runs/0?filterBy=FAILED

* Standard error:
[code]

* Help requested from:
@emmetaobrien  (this is related to #338)

[2020-06-18 03:17] glatard opened #340 "preventad-open-bids fails to download"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/362/workflows/dc192141-f465-44c5-ae2d-179bd34bbb5b/jobs/703/parallel-runs/0?filterBy=FAILED

* Standard error:
[code]

* Help requested from:
@cmadjar @emmetaobrien
Related issue: #338

[2020-06-18 16:32] zxenia commented on #339
Setting ` additionalProperties` to True entails that anything can be added there.

[2020-06-18 16:33] emmetaobrien commented on #339
This morning I have been looking into this, and I think it is better for me to change the format of the existing entries to something` annotation_schema` does support rather than relax a constraint that would then have to apply to all the other places we use `annotation_schema` (which is a lot of places) and risk errors slipping through, so am doing that now; expect a PR correcting the three inval

[2020-06-18 16:36] glatard commented on #339
I agree completely @emmetaobrien, allowing for extra properties is a bit brittle to typos and other errors.

[2020-06-18 16:38] emmetaobrien commented on #339
Yes, I will document the change in the PR and let @liamocn know.

[2020-06-18 18:52] #338 closed

[2020-06-18 19:42] cmadjar opened #345 "Create a separate block of code to do validation of extraProperties that have been created for CONP"
There appears to be no check on whether the CONP_status field is valid or not. Valid options for that field are: `conp`, `canadian`, `external`

A check should be added to the tests so that we ensure that proper values are set for the field.

[2020-06-18 19:45] emmetaobrien commented on #345
Looking at the existing DATS.json files I see "CONP" is capitalised.

[2020-06-18 19:47] cmadjar commented on #345
Right. That is very possible. I was looking at the CONP portal code to figure out what the values should be but it modifies everything to lower case before checking if the value is correct.

Very possible that the values should be `CONP`, `Canadian` and `External` then. Can you confirm?

[2020-06-18 19:50] zxenia commented on #345
This feature would be a part of custom validation.

[2020-06-18 19:53] emmetaobrien commented on #345
"external" is currently all lower-case.

[2020-06-18 22:19] cmadjar commented on #230
I pulled the code from @liamocn on the portal and we can now see the child datasets and the parent datasets on the appropriate datasets.

@glatard @emmetaobrien is there anything else I am not seeing that need to be done for this issue? Thank you!

[2020-06-18 22:26] cmadjar commented on #340
looks like the DATS error is not present anymore in circle CI. There is still the dataset timed out issue though.

@glatard should we close this one and open another one for preventad-open-bids with the timeout issue?

[2020-06-18 22:26] cmadjar commented on #339
That dataset is now passing CircleCI so closing the issue

[2020-06-18 22:26] #339 closed

[2020-06-19 01:08] glatard commented on #339
thank you so much for fixing this @emmetaobrien

[2020-06-19 01:09] glatard commented on #340
I think we could just leave this one open and track the download error here.

[2020-06-19 01:38] glatard commented on #340
The download error is coming from the download test of files in the parent dataset (submodule), in spite of the parent dataset passing the tests. This is most likely because the parent dataset needs different credentials than the dataset, and CircleCI uses the same set of credentials for both.

I see two possible solutions:
1. We don't test submodules at all: if the submodule is in CONP, great, it

[2020-06-19 13:11] cmadjar commented on #340
@glatard in theory, the credentials are identical for those two datasets since they are connecting to the same LORIS instance.

However, I agree with you and lean towards solution 1 too. Seems redundant to test a submodule that we already test elsewhere and there is nothing we can do if a submodule is not a CONP dataset.

[2020-06-19 13:20] emmetaobrien commented on #340
Option 1 seems reasonable to me too.

[2020-06-19 16:59] glatard commented on #340
great, I'll change that soon. @mathdugre had told me that testing submodules was going to create issues, I should have listened to him :)

[2020-07-02 17:13] #230 closed

[2020-07-02 19:56] cmadjar opened #351 "Remove the docs directory in conp-dataset and move the docs to the conp-documentation repo"
## Purpose

Currently, the content of the `docs` directory in `conp-dataset` is old graphs and pictures. During the CONP dev meeting of July 2nd, 2020, it was proposed to move the content of that repository into the conp-documentation repository and remove the `docs` directory of the `conp-dataset`.

[2020-07-02 20:18] cmadjar commented on #345
Updated the title of the ticket as all extraProperties should be checked by the validator, not just the conp_status.

for conp_status: valid values are `CONP`, `Canadian` and `external`

[2020-07-02 21:27] glatard commented on #345
@zxenia why can't this be part of the validation against our custom schema?

[2020-07-03 15:33] zxenia commented on #345
Hi @glatard ! As I see it we cannot change our custom schema to require `extraProperties` to contain categories `subjects`, `files ` and `CONP_status ` because those categories are only required on dataset_schema level. The `extraProperties` is defined by category_values_pair_schema.json schema and used not only on dataset_schema level but in other subschemas, being basically a schema for any kind

[2020-07-06 19:58] emmetaobrien commented on #351
The relevant file was moved to conp-documentation in https://github.com/CONP-PCNO/conp-documentation/pull/43, and the docs directory is removed from conp-datasets in https://github.com/CONP-PCNO/conp-dataset/pull/347.

[2020-07-08 14:53] zxenia opened #353 "Integrate OBI datasets"
## Purpose
The issue to track tasks, discussion, and progress on the OBI datasets integration.

[2020-07-08 14:58] cmadjar commented on #353
Discussion from the CONP dev meeting on July 8th, 2020:

- There are 40 DATS files with no access to the data at the moment
- Only 3 DATS files + 3 README will be on the repo and the other ones will be linked to the 3 original datasets.
  - Mouse MRI
  - Long term phantom quality assurance
  - Neurodevelopmental disorder
- README will contain information on how to get the data on BrainCode.

[2020-07-08 15:58] yarikoptic opened #354 "projects/mm_neo_atlas"
During my cron run of `datalad update -d conp-dataset --recursive --follow parentds --merge ff-only`
[code]
and now reproduced
[code]

[2020-07-08 16:06] emmetaobrien commented on #354
Already on this, https://github.com/CONP-PCNO/conp-dataset/pull/352 should fix it.

[2020-07-10 15:43] glatard opened #356 "preventad-open fails to download"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/543/workflows/beef4f4c-d741-4a8c-90bb-85a59df7eb19/jobs/1074

* Standard error:
[code]

* Help requested from:
@cmadjar @emmetaobrien

[2020-07-10 15:44] glatard opened #357 "mcgill-emc-rna-seq-experiment fails DATS validation"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/543/workflows/beef4f4c-d741-4a8c-90bb-85a59df7eb19/jobs/1074/tests

* Standard error:
[code]

* Help requested from:
@emmetaobrien

[2020-07-10 15:46] glatard opened #358 "refseq_refseq_Mus_musculus fails git-annex validation"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/543/workflows/beef4f4c-d741-4a8c-90bb-85a59df7eb19/jobs/1074/parallel-runs/1?filterBy=FAILED

* Standard error:
[code]

* Help requested from:
@emmetaobrien

[2020-07-10 15:47] glatard commented on #354
Tests don't fail on this any more so closing, feel free to re-open @yarikoptic

[2020-07-10 15:47] #354 closed

[2020-07-13 13:04] emmetaobrien commented on #357
This is another example of a `dataset `where the `hasPart` entries do not contain all our required distribution fields.  This particular one comes from @zxenia, whom I have contacted about it and who is taking action to fix it.

[2020-07-13 14:35] emmetaobrien commented on #357
This is fixed with https://github.com/CONP-PCNO/conp-dataset/pull/359.

[2020-07-13 14:35] #357 closed

[2020-07-13 20:54] cmadjar commented on #356
@glatard I was able to download that file manually on my computer:
[code]

Could this be that the token expired at some point during testing and somehow made Circle CI crash?

Not sure what else to try on my end...

[2020-07-14 20:31] emmetaobrien commented on #358
This issue is corrected by https://github.com/CONP-PCNO/conp-dataset/pull/361.

[2020-07-14 20:31] #358 closed

[2020-07-14 20:37] emmetaobrien opened #362 "conp-dataset-MRI_and_unbiased_averages_of_wild_muskrats__Ondatra_zibethicus__and_red_squirrels__Tami timing out"
* Test build:

https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/579/workflows/bc1257f2-d763-40d6-9e7f-7e27bb9c4646/jobs/1146

* Standard error:

The dataset timed out after 120 seconds before retrieving a file. Cannot to tell if the download would be sucessful.
data_release/muskrat/demo.csv has size of inf Bytes

* Help requested from:

@glatard, @joeyzhou98, @cmadjar.

[2020-07-14 20:41] emmetaobrien commented on #362
Edited to correct cut and paste error in the initial description text.

[2020-07-15 14:15] emmetaobrien commented on #234
Discussed on July 15 2020 and decided to close.

[2020-07-15 14:15] #234 closed

[2020-07-15 14:28] joeyzhou98 opened #364 "Support crawling private datasets on OSF"
## Purpose
To allow users to upload restricted datasets on OSF and let the crawler retrieve them to add to conp-datasets with restricted access

## Context

[2020-07-15 14:33] joeyzhou98 commented on #362
I will take a look at it tonight

[2020-07-15 14:36] glatard opened #365 "Datasets in status "Warning""
In the portal, several datasets regularly have the status "Warning" associated with an orange badge.

![Screenshot from 2020-07-15 09-58-06](https://user-images.githubusercontent.com/5174953/87554141-c4058b80-c681-11ea-8f0a-a854c0034eca.png)

## Expected Behavior

Status should be "Working" or "Broken" most of the time.

## Current Behavior

The "Warning" status is commonly encountered.

## Contex

[2020-07-15 14:38] emmetaobrien commented on #362
This has not been recurring in monitoring messages since so I think it may have been a transient connection issue.

[2020-07-15 14:47] glatard commented on #356
Trying to login with the password used by CircleCI, I realized that LORIS required its renewal:
![Screenshot from 2020-07-15 10-42-13](https://user-images.githubusercontent.com/5174953/87559510-632d8180-c688-11ea-930b-17f3aa3919c5.png)
This is likely to be the reason for authentication issues.

I re-generated a password and added it to CircleCI, let's see if it fixes things.

Note to self: if auth

[2020-07-15 15:02] emmetaobrien opened #366 "Proposal: increase the granularity of "CONP_status""
## Purpose

There is at the moment no consistent location in the DATS.json file specifying the institution providing data, as the `authors` and `creators` fields support a variety of formats (values can be individuals, institutions, or projects/consortia).

## Context

The utility for this information is in answering questions (e.g. from funding bodies) concerning how many of the datasets availabl

[2020-07-15 15:15] glatard commented on #356
yep, updating the password fixed it: https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/584/workflows/f5311617-b8d3-4a18-bcd7-59f28e833067/jobs/1163/tests

[2020-07-15 15:15] #356 closed

[2020-07-15 15:16] glatard commented on #362
this is passing now, most likely a transient issue indeed.

[2020-07-15 15:52] emmetaobrien commented on #362
https://github.com/CONP-PCNO/conp-dataset/issues/332

[2020-07-15 16:17] emmetaobrien commented on #362
And it is now happening again - https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/588/workflows/890eb334-2d9a-4830-97b8-ff8d40ac636b/jobs/1169.

[2020-07-15 17:42] cmadjar commented on #364
Deadline: end of August.

Thank you @joeyzhou98 for creating the issue!

[2020-07-21 18:13] cmadjar commented on #366
`CONP_status` field value proposal to be discussed:
- CONP-McGill (for CONP-funded datasets from McGill University)
- Canadian-McGill (for non-CONP-funded datasets from McGill University)
- CONP-<City_name> (for CONP-funded datasets)
- Canadian-<City_name> (for non-CONP-funded datasets)
- CONP-<Province_name>
- Canadian-<Province_name>
- International-<Country_name>

[2020-07-22 14:16] glatard commented on #366
Is there a reason why McGill is hardcoded instead of having a placeholder for institution as is the case for city name and province?
* CONP-<institution_name>-Institution
* Canadian-<institution_name>-Institution

[2020-07-22 14:18] emmetaobrien commented on #366
@glatard: my understanding when this proposal was first mooted was that it might be politically significant to specifically indicate how much data was coming from institutions outside McGill, but that that was not a question that necessarily applied to other institutions.

[2020-07-22 14:29] emmetaobrien commented on #366
Decided at the CONP dev meeting of July 22 2020 to approach this with a set of fields for institutional location instead.

[2020-07-22 14:29] #366 closed

[2020-07-22 14:51] emmetaobrien opened #370 "Proposal: add set of fields to consistently record the institution where a dataset was generated."
## Purpose

The object of this set of fields is to enable quick and easy querying of the complete set of datasets to determine numbers and proportions of CONP data by location (e.g. for reports to funding agencies.)

## Possible Implementation

The proposed set of fields would go under `extraProperties->origin`, and could contain:
`extraProperties->origin->institution`
`extraProperties->origin->ci

[2020-07-22 15:11] cmadjar commented on #370
Looks good to me!

A few thoughts: `institution` and `city` field could also be filled in for international datasets. `province` could also represent `state` for USA if needed.

Regarding consortium, maybe we could add:
`extraProperties->origin->consortium` and require either `institution` or `consortium`? And in the description of the GUI, the text could explain that this field would hold consort

[2020-07-22 15:47] cmadjar opened #371 "Rename default master branch to main"
## Purpose

The master branch should be renamed to main.

We should list here crawlers, hooks and servers... that might be referring to the master branch and change those to main

Reference in the code for now:
https://github.com/CONP-PCNO/conp-dataset/search?q=master&unscoped_q=master

[2020-07-22 20:37] emmetaobrien commented on #370
We certainly could fill in `institution` and `city` for international datasets, if we want; this structure supports that, but do we want to require it?

I like your approach to `consortium'.

[2020-07-23 17:26] StoneJessica commented on #370
I think if any field is required it should be the institution or consortium because we could ascertain the remaining fields from that in most cases I would think? Thanks both!

[2020-07-27 15:01] cmadjar commented on #370
I think we have a plan then! :)

Summary of the plan:

The proposed set of fields would go under `extraProperties->origin`, and could contain:
`extraProperties->origin->institution`*
`extraProperties->origin->consortium`* (representing consortium or organization name)
`extraProperties->origin->city`
`extraProperties->origin->province`
`extraProperties->origin->country`

As `extraProperties->origin

[2020-07-29 00:37] zxenia commented on #223
I had the same issue today, I will leave a comment here if someone else will encounter it in the future:
what worked for me - I did edit `.gitmodules` file after I saved and published a new project dataset

from `projects/<newprojectname>`:
[code]

then:

[code]

**edit .gitmodules file** as suggested in the docs

next:

[code]

[2020-07-29 14:18] glatard opened #375 "Inclusion of Zenodo, FRDR and OSF fields in the DATS model"
## Purpose

* Review the metadata fields available in Zenodo, OSF and FRDR
* Match them with our DATS model: https://github.com/CONP-PCNO/conp-dataset/tree/master/scripts/dats_validator and document the mapping in our documentation
* Update the crawlers to use these fields to populate the generated DATS models

## Context

It would make auto-generated DATS models richer

[2020-07-29 15:37] cmadjar commented on #375
@glatard Thank you for creating the issue. I slightly modified the description to add a documentation section instead of creating a separate ticket just for the documentation. Let me know if I missed or misunderstood something.

Thank you!.

[2020-07-30 19:34] cmadjar commented on #345
@zxenia I believe this is done and can be closed, right? Let me know. Thanks!

[2020-07-30 19:36] zxenia commented on #345
@cmadjar yes, it's done and merged to master!

[2020-07-30 19:37] cmadjar commented on #345
Thank you! That's what I thought but wanted to double check before closing the issue.

[2020-07-30 19:37] #345 closed

[2020-07-30 20:22] cmadjar commented on #365
@glatard I came across the code displaying the badges yesterday when working on adding publications to the dataset page. I picked the first possible fix you mentioned and sent a PR where I tagged you.

Let me know what you think.

[2020-07-30 20:29] #351 closed

[2020-07-30 20:30] cmadjar commented on #351
Thank you @emmetaobrien! Closing the issue as this is resolved now.

[2020-07-30 22:40] zxenia commented on #370
Hi @cmadjar , @emmetaobrien
I started fixing McGill dataset for the origin description.
The below description won't pass validation under the current schema. Because `addiotionalProperties `in [category_values_pair_schema.json](https://github.com/CONP-PCNO/schema/blob/master/category_values_pair_schema.json) are not allowed.

[code]

It's only possible to add information in "value" and "valueIRI"

[2020-07-31 20:50] gi114 opened #381 "Tracking the FRDR crawler"
## Purpose and current status
This issue is tracking the progress of the FRDR crawler

There are 2 different paths the crawler must be tested on:
1 - A new globus dataset is discovered in FRDR which must be added to CONP
2 - A globus dataset existing in CONP is found to have been moved to a different globus endpoint. The change must be reflected in CONP

Currently, path 1 is under testing, hopeful

[2020-08-03 13:18] emmetaobrien commented on #370
I would favour calling those various fields `origin_institution`, `origin_country `and so on but otherwise that looks good to me.

[2020-08-03 14:07] cmadjar commented on #370
OK. Let's go with:

[code]

[2020-08-03 14:22] emmetaobrien commented on #370
That looks good, and I will start updating DATS.json files for it now.

[2020-08-03 15:55] #365 closed

[2020-08-03 15:56] cmadjar commented on #365
Resolved by attached PR

[2020-08-04 13:22] cmadjar commented on #362
Is this still happening? I do not see that dataset in the latest tests.

[2020-08-04 13:23] cmadjar commented on #340
@glatard did you update the LORIS credentials for the tests of this dataset in the end?

Latest error is:
[code]

from https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/754/workflows/5b3eab59-7971-4100-81c8-67e4ef4d28e5/jobs/1518

[2020-08-04 13:25] cmadjar opened #382 "CHBMP"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/754/workflows/5b3eab59-7971-4100-81c8-67e4ef4d28e5/jobs/1518

* Standard error:
[code]

* Help requested from:
@glatard @emmetaobrien

Note: there is no data files in CHBMP as they do not have ethics yet to share their dataset. I am not sure why this particular error message is displayed since there are no files to get.

[2020-08-05 14:37] jbpoline commented on #370
@emmetaobrien  @liamocn  Make sure this is also in the GUI

[2020-08-10 21:12] zxenia commented on #370
@emmetaobrien @cmadjar
As suggested in the description - make only one of these fields required: so would it be then `origin_institution` which is required field?

Should it be required only for the top-level dataset, or also for all nested children datasets in `hasPart`? I suppose it depends on how it is used in frontend if only top-level descriptions are used for stats and map on the website whe

[2020-08-10 21:29] zxenia commented on #370
based on the discussion I gathered that:
- `origin_institution ` OR  `origin_consortium ` are required for data providers

- all of the fields are required for data curators and for the validation (tests): basically, if we are provided with a dataset that has only `origin_institution `we have to add its location info before we integrate  the dataset

[2020-08-11 13:09] emmetaobrien commented on #370
The location info will not always use a consistent set of fields, though.  For example, institutions in Canada and the US will have their province or state of origin in `origin_province`, but there is no equivalent value for an institution in the UK.  And on the other hand, `origin_consortium` can have values for city, province etc. in the case of data generated by a collaboration between multiple

[2020-08-11 18:57] emmetaobrien commented on #370
With the merging of https://github.com/CONP-PCNO/conp-dataset/pull/373, this metadata reformat has been applied to 21 dataset and all relevant `hasPart` entries:
- 1000GenomesProject
- BigBrain and the 2 derived datasets BigBrain_3DStructure and BigBrain_3DClassifiedVolumes
- Brainspan
- celltypes
- the 3 Khanlab datasets
- mm_neo_atlas
- nhpatlas
- the 6 openpain datasets
- PreventAD-open and Pre

[2020-08-12 12:56] cmadjar commented on #353
@zxenia Are there more OBI datasets coming up? Is this issue resolved?

[2020-08-12 14:07] zxenia commented on #353
@cmadjar There is one more dataset, I am going to add it this week.

[2020-08-12 15:42] zxenia opened #388 "Braincode fBIRN - Long-term, Phantom Quality Assurance data for functional MRI"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/834/workflows/76ffc045-942e-4d57-bbde-6e725ad16168/jobs/1673

* Standard error:
`Cannot download file (dataset requires authentication, make sure that environment variables BRAINCODE_FBIRN_USERNAME, BRAINCODE_FBIRN_PASSWORD, and BRAINCODE_FBIRN_LORIS_API are defined in CircleCI).`

* Help requested from:
@glatard @emmet

[2020-08-12 16:21] cmadjar commented on #388
This is probably related to the same issue I am having for a LORIS dataset: https://github.com/CONP-PCNO/conp-dataset/issues/382

[2020-08-17 14:09] emmetaobrien commented on #370
https://github.com/CONP-PCNO/conp-dataset/pull/390 updates DATS.json in the Reusing-Neuro-Data dataset with origin fields.

[2020-08-18 15:40] cmadjar commented on #353
@zxenia just to be sure. This is now resolved, right?

[2020-08-18 16:04] zxenia commented on #353
@cmadjar Yes, they are all integrated into the portal now.

[2020-08-18 16:05] #353 closed

[2020-08-18 16:06] cmadjar commented on #364
@joeyzhou98 I believe https://github.com/CONP-PCNO/conp-dataset/pull/387 resolved this issue, correct?

[2020-08-18 16:08] joeyzhou98 commented on #364
@cmadjar indeed, closing this

[2020-08-18 16:08] #364 closed

[2020-08-18 21:58] zxenia opened #393 "Braincode - Neurodevelopmental Disorders Priority Setting Partnership"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/883/workflows/e996367f-ec35-46ca-8c7c-5e58c4fe3678/jobs/1772

* Standard error:
`Cannot download file (dataset requires authentication, make sure that environment variables BRAINCODE_NDD_PRIORITY_SETTING_PARTNERSHIP_USERNAME, BRAINCODE_NDD_PRIORITY_SETTING_PARTNERSHIP_PASSWORD, and BRAINCODE_NDD_PRIORITY_SETTING_PARTNER

[2020-08-26 14:04] glatard commented on #388
The test suite requires that private (or registered access) datasets define these variables even if they are not used. I did it, tests should now pass.

[2020-08-26 14:04] glatard commented on #382
The test suite requires that private (or registered access) datasets define these variables even if they are not used. I did it, tests should now pass.

[2020-08-26 14:09] glatard opened #402 "refseq_refseq_Homo_sapiens"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/947/workflows/3ba5e87d-9216-42cc-a45f-69c189f10b10/jobs/1901

* Standard error:
[code]

* Help requested from:
@emmetaobrien

[2020-08-26 14:18] glatard opened #403 "1000 Genomes"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/947/workflows/3ba5e87d-9216-42cc-a45f-69c189f10b10/jobs/1901/tests

* Standard error:
[code]

* Help requested from:
@emmetaobrien

[2020-08-26 14:20] glatard commented on #393
I just defined the variables, as in #388

[2020-08-26 15:47] zxenia commented on #393
Thanks @glatard !

[2020-08-26 16:17] glatard commented on #403
This must have been temporary, tests pass now for this dataset.

[2020-08-26 16:17] #403 closed

[2020-08-26 16:18] glatard commented on #393
Tests seem to be passing now, feel free to re-open if there are still issues.

[2020-08-26 16:18] #393 closed

[2020-08-26 16:18] glatard commented on #388
Tests seem to be passing now, feel free to re-open if there are still issues.

[2020-08-26 16:18] #388 closed

[2020-08-26 16:18] glatard commented on #382
Tests seem to be passing now, feel free to re-open if there are still issues.

[2020-08-26 16:18] #382 closed

[2020-08-26 16:19] glatard commented on #362
Tests seem to be passing now, feel free to re-open if there are still issues.

[2020-08-26 16:19] #362 closed

[2020-08-26 20:54] emmetaobrien commented on #402
This is fixed as of https://github.com/CONP-PCNO/conp-dataset/pull/404.

[2020-08-28 02:12] joeyzhou98 opened #408 "OSF crawled private datasets can't be downloaded by users"
## Expected Behavior
 Having setup an OSF provider with the right token, see [here](https://github.com/datalad/datalad/issues/4376), using `datalad get` on an OSF private dataset that has been crawler by the OSF crawler like https://github.com/conp-bot/conp-dataset-Private-Test, we should be able to retrieve the file

## Current Behavior
Using `datalad get`, it says invalid authentication
![image]

[2020-08-28 15:32] emmetaobrien commented on #370
https://github.com/CONP-PCNO/conp-dataset/pull/404 updates DATS.json in cneuromod with origin fields.

[2020-09-02 13:40] glatard opened #409 "Reusing-Neuro-Data"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/999/workflows/fada49c9-234b-43a3-9cad-663941ed875a/jobs/2008

* Standard error:
Too long to paste here (datalad install seems to be failing)

* Help requested from:
@emmetaobrien

[2020-09-02 13:41] #402 closed

[2020-09-02 13:44] glatard opened #410 "multicenter-phantom"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/999/workflows/fada49c9-234b-43a3-9cad-663941ed875a/jobs/2008/parallel-runs/1

* Standard error:
[code]
This is most likely an authentication error. I had updated the credentials a few days ago and it seemed to worked fine. I have a feeling that LORIS periodically reset the password of the account used in the tests.

* H

[2020-09-09 15:54] cmadjar commented on #410
@joeyzhou98 indeed, the passwords reset every 6 months. Not sure which account is used for the phantom dataset though. @glatard was it your credentials?

[2020-09-09 19:39] tkkuehn commented on #42
I've been in touch with the MouseBytes team now, and am working on scheduling a meeting with them and a few other CONP developres to discuss the best way to push this forward.

The MouseBytes data is all behavioural for now and is stored in an SQL database, which they expose to queries with a [web page](https://mousebytes.ca/data-extraction), from which subsets of the data can be exported in .csv

[2020-09-10 19:41] emmetaobrien commented on #409
Fixed by https://github.com/CONP-PCNO/conp-dataset/pull/412.

[2020-09-10 19:41] #409 closed

[2020-09-10 19:45] emmetaobrien opened #415 "New dataset: Multi-model functionalization of disease-associated PTEN missense mutations"
This issue is to track progress on importing https://dataverse.scholarsportal.info/dataset.xhtml?persistentId=doi:10.5683/SP2/DQOKPB, suggested by Dr. Paul Pavlidis as a suitable candidate for import to CONP from among the data generated by his group.

[2020-09-10 19:50] emmetaobrien opened #416 "New dataset: Systematic phenomics analysis of autism-associated genes"
This issue is to track progress on importing https://dataverse.scholarsportal.info/dataset.xhtml?persistentId=doi:10.5683/SP2/FJWIL8 suggested by Dr. Paul Pavlidis as a suitable candidate for import to CONP from among the data generated by his group.

[2020-09-10 20:40] cmadjar opened #417 "Calgary Preschool MRI Dataset"
The following OSF dataset should be added to the portal: https://osf.io/axz5r/

In order to do so we need to ask the authors of the dataset to add the tag 'canadian-open-neuroscience-platform' to their dataset so our crawlers can pick up the dataset.

[2020-09-10 20:44] cmadjar opened #418 "Multimodal data with wide-field GCaMP imaging"
The following OSF dataset has been integrated to the portal: https://osf.io/m7nz2/

Need to work with their team to update the DATS.json file and README.md file to their liking.

[2020-09-10 22:19] glatard commented on #410
yes, my credentials are used. Would it be possible to extend their lifetime?

[2020-09-11 14:00] cmadjar commented on #410
@glatard I just checked and your password should expire on 2021-02-26. Did you already reset the password on 2020-08-26 by any chance? Just checking...

FYI - I changed the expiry to be a year from now (2021-09-11) for your accounts on both the phantom and the open PREVENT-AD instances. This way, you'll have to update the password for Circle CI only once a year :).

[2020-09-11 15:02] cmadjar commented on #381
https://github.com/CONP-PCNO/conp-dataset/pull/401

[2020-09-11 16:08] cmadjar opened #419 "Handle OSF component datasets and treat them as derived datasets"
## Purpose

Currently, the crawler treats OSF components as any other datasets. Instead it should link them to the original dataset.

Example: https://osf.io/xhvsk/ is a dataset with 2 components (https://osf.io/pny28/ and https://osf.io/px49j/) but no files outside the components

https://osf.io/xhvsk/ resulted in the PR https://github.com/CONP-PCNO/conp-dataset/pull/397 that got closed immediate

[2020-09-11 16:15] cmadjar opened #420 "Quantifying Neural-Cognitive Relationships Across the Brain"
This dataset is on OSF and was initially crawled but the PR #397 was closed as no files were attached to the dataset. Instead, the dataset has two components that should be treated as derived variables. See #419 for details.

Link to the dataset on OSF: https://osf.io/xhvsk/
Link to the two components on OSF: https://osf.io/pny28/ (Participant level contrast maps) and https://osf.io/px49j/ (Behavi

[2020-09-11 21:01] emmetaobrien commented on #370
I have updated DATS.json files for the crawler-derived datasets https://github.com/conp-bot/conp-dataset-Comparing-Perturbation-Modes-for-Evaluating-Instabilities-in-Neuroimaging-Processed-NK/, https://github.com/conp-bot/conp-dataset-Learning_Naturalistic_Structure__Processed_fMRI_dataset/ and https://github.com/conp-bot/conp-dataset-MRI_and_unbiased_averages_of_wild_muskrats__Ondatra_zibethicus_

[2020-09-15 17:51] emmetaobrien commented on #415
The contents of this dataset have been uploaded to the repository https://github.com/emmetaobrien/Multi-model_functionalization_of_disease-associated_PTEN_missense_mutations.

[2020-09-15 17:52] emmetaobrien commented on #416
The contents of this dataset have been uploaded to the repository https://github.com/emmetaobrien/Systematic_phenomics_analysis_of_autism-associated_genes.

[2020-09-16 20:13] emmetaobrien commented on #370
We hit an obstacle on this in that the GUI for updating files to Zenodo raises errors with .json files; this is a known behaviour at Zenodo (https://github.com/zenodo/zenodo/issues/1453) but that does not look like it will be addressed any time soon.

After discussion at this morning's CONP dev meeting, @glatard suggested two possible approaches (copied from conversation in Slack)

 1. Require tha

[2020-09-16 20:15] tkkuehn commented on #42
We all met today - here's my understanding of the approach we'll take.

In the very short term, we'll start by indexing MouseBytes on the CONP Portal with a DATS model including a link to the MouseBytes Data Lab. @emmetaobrien will send the MouseBytes team the DATS editor, so they can use it and provide some feedback on the GUI. The goal is to have MouseBytes on the portal in this form by our next

[2020-09-21 22:13] cmadjar opened #430 "OSF crawler chocking on datasets with multiple data providers"
Up until now, the datasets we got from OSF only stored data in one data provider (`OSF Storage`).

However, there is now a dataset that has two data providers set (`OSF Storage` and `Github`): https://osf.io/k5zb9/

Currently, in the script, it is hardcoded to take the first data provider in the JSON response of the OSF API and import the files from there. Unfortunately, in the case of the new dat

[2020-09-21 22:27] cmadjar commented on #416
@emmetaobrien I added the in-progress label but I have feeling this is done, no? I can see the dataset on the portal. Maybe there are some edits to be added that I forget?

If done, I will let you the pleasure to close the issue ;).

[2020-09-21 22:27] cmadjar commented on #415
@emmetaobrien I added the in-progress label but I have feeling this is done, no? I can see the dataset on the portal. Maybe there are some edits to be added that I forget?

If done, I will let you the pleasure to close the issue ;).

[2020-09-21 22:29] cmadjar commented on #417
blocked by #430

[2020-09-21 22:30] cmadjar commented on #420
blocked by #419

[2020-09-22 14:43] emmetaobrien commented on #415
The dataset is in the portal; I am still waiting to possibly hear back on a logo and an updated landing page, but neither of those impair functionality.

[2020-09-22 14:43] #415 closed

[2020-09-22 14:44] emmetaobrien commented on #416
This dataset is also functional in the portal, but may be updated for a logo and a landing page.

[2020-09-22 14:44] #416 closed

[2020-09-23 14:27] #418 closed

[2020-09-23 15:36] xlecours opened #431 "Khanlab/HCPUR100-Template"
I am trying to download Khanlab/HCPUR100-Template/blob/master/sub-HCPUR100/anat/sub-HCPUR100_t1w.nii.gz but I only get a text file with `/annex/objects/MD5E-s11057707--6248ded9a528636072aba8b4ec857dfb.nii.gz`

* Test build:
 I am not sure what to put here.

[2020-09-23 16:05] emmetaobrien opened #432 "Polygenic Risk Score dataset(s)"
An initial dataset of output data and summary documents was posted to Zenodo at https://zenodo.org/record/4042021 yesterday, with manually generated DATS.json; this did not get picked up by the Zenodo crawler and we are currently looking into why.

[2020-09-23 16:25] emmetaobrien commented on #431
It looks like the source dataset was re-initialised in May with the intent of updating the links and instead replaced them with text files, I shall contact Jason Kai about this.

[2020-09-23 18:21] emmetaobrien commented on #431
This should be fixed by https://github.com/CONP-PCNO/conp-dataset/pull/433.

[2020-09-23 19:24] cmadjar commented on #432
The crawler currently crashes on this dataset due to the fact that the crawler expects a `conceptdoi` field associated to the dataset, however, a `conceptdoi` is attributed to a dataset only if there are no existing `doi` specified when uploading the data. Basically,
- if a user does not specify a DOI at the time of upload, Zenodo will create a Concept DOI and another DOI for the version of the da

[2020-09-23 19:56] cmadjar commented on #432
The PR above should fix the crawler. Once this is merged, I will pull the code on the crawler server and that dataset should be caught by the crawlers then.

[2020-09-24 13:58] xlecours commented on #431
fixed

[2020-09-24 13:58] #431 closed

[2020-09-29 12:50] cmadjar opened #436 "[validator] check that a DataLad subdataset exists when DerivedFrom is filled in DATS.json"
## Purpose

A derived dataset should always have the dataset it is derived from as a DataLad subdataset. Below is the example of how derived datasets should be organized (example of preventad-open-bids).

- DATS.json content for DerivedFrom example
[code]

- Directory structure of a derived dataset (example of preventad-open-bids):
[code]

=> add a check that verifies that the DataLad subdataset i

[2020-09-30 13:24] glatard commented on #430
Hi @cmadjar, very good catch and thanks for the thorough issue report. I am in favour of option 1 because:
* Option 3 may lead to conflicting file names if the dataset has more than 1 osf storage (your 'backfire' comment I guess)
* Option 2 may lead to incomplete datasets.

It would also be worth checking how the modified crawler behaves on https://osf.io/xhvsk (related to #405 and #406)

[2020-10-01 20:49] cmadjar opened #443 "Calgary Campinas Public Brain MR Dataset"
## Purpose

More information about the dataset can be found: https://sites.google.com/view/calgary-campinas-dataset/home

Procedure sent to Patrick on how to integrate this dataset on the portal:
There are 3 possibilities to add a dataset to CONP:
1. upload via Zenodo and use the tag 'canadian-open-neuroscience-platform'
2. upload via OSD and use the tag `canadian-open-neuroscience-platform`
3. up

[2020-10-01 21:19] cmadjar opened #444 "PERFORM Dataset Zenodo error"
The Zenodo crawler is currently choking on the PERFORM Dataset.

Error log:
[code]

Guess on what is going on:
The dataset on Zenodo is a zip file. The content of that zip file (data.zip) has been added instead of data.zip but now that it needs to be updated, the crawler tries to delete data.zip, making the crawler crash.

@glatard do you agree with my assumption?

[2020-10-02 21:19] cmadjar commented on #444
Making progress. Needed to reinstall miniconda and all the dependencies for the crawler to be working as by default `conp-bot` was using Python 2.7 and git-annex 7.*... Reinstalled miniconda for conp-bot and all the dependencies, including latest version of git-annex > 8.0.

Now, there is a new problem though. I believe this is due to the access token not having the right to see the latest update

[2020-10-07 20:45] cmadjar opened #447 "Learning Naturalistic Structure: Processed fMRI dataset - crawler update failure"
The crawler is currently choking on that dataset (https://zenodo.org/record/4068466#.X34nz5NKiL4) because one of the file cannot be downloaded for some reason. Trying to download the file `sub-01_task-movie_run-01_desc-reducedConfounds_regressors.json` returns a 500 error, both via the Zenodo API and the Zenodo frontend interface.

Trying to update the file in a new version responds that the user

[2020-10-08 18:42] cmadjar commented on #432
https://github.com/CONP-PCNO/conp-dataset/pull/435 has been merged and the dataset now appears on the portal

[2020-10-08 18:42] #432 closed

[2020-10-08 18:47] emmetaobrien commented on #443
Update on meeting I have just had with Patrick and Roberto Medeiros de Souza at Calgary concerning this dataset:

- Dataset contains 359 subjects in NIfTI and 167 raw datasets in HDF5 (non-overlapping)
- Updated roughly every 6 months, next update due in December (modest due to COVID-19)
- About 500 GB of data currently, expected to possibly grow to ~ 1.5 TB (or considerably if adding processed de

[2020-10-08 20:06] #430 closed

[2020-10-14 14:10] jbpoline opened #454 "Harmonized values for our DATS datasets descriptors"
## Purpose
Suggest some harmonized values for the DATS model in the GUI,

## Context
This would help find datasets with a specific values, make sure that these values are linked to a place with a definition, propose default values in the GUI

## Possible Implementation (optional)
Create a first json/md text files with most used / most recommended values

## List of fields to be harmonized:

- [x]

[2020-10-16 14:09] cmadjar commented on #454
@liamocn @PapillonMcGill could you discuss what the best format would be?

My guess would be the following:
- create a JSON file that could be parsed by the GUI to provide pre-established values for the fields
- would be nice for the fields to hint to the users what to enter when they start typing in the words

Thoughts?

Thank you :)

[2020-10-16 18:57] #447 closed

[2020-10-19 19:18] #417 closed

[2020-10-21 13:25] cmadjar commented on #444
I changed the token of the crawler to be mine but now, the crawler does not want to update the PERFORM dataset. Will have to investigate more on this this week.

[2020-10-26 18:33] emmetaobrien commented on #443
The plan for this dataset is now to proceed with loading it onto a local server, as discussed in the comment on https://github.com/CONP-PCNO/conp-portal/issues/302 concerning the meeting of October 19 2020; it is anticipated that this server will bceome available this week.

[2020-11-04 16:45] cmadjar commented on #381
Updates on this topic based on discussions during CONP dev meeting of November 4th, 2020:

On FRDR, there are two types of datasets:
1) Datasets with HTTP links. (easy win)
2) datasets hosted by FRDR using Globus (a little heavier, will need authentication. Kind of how we handle private Zenodo datasets?)

Start with the easy win (1) and send a PR, then move to the more complex case scenario.

[2020-11-11 14:25] cmadjar commented on #454
For the DataType, we could provide a list of terms from the interlex URI dashboard (https://neuinfo.org/interlex/dashboard). Is that the only source of terms to use there?

Suggestion to build list of terms on top of the NIDM-terms group. To be discussed today at the CONP dev.

[2020-11-11 14:47] PapillonMcGill commented on #454
No Interlex is not the only one. It is one if not the most comprehensive list of term for medical research. Easy to had new one if yours term is not there or definition do not mach perfectly your need.

[2020-11-17 18:58] zxenia commented on #436
@cmadjar
In the example, `derivedFrom` points to a specific version of preventad-open dataset: `https://github.com/conpdatasets/preventad-open/tree/17dd9742a89e60f720f8276d79d917c54dd20695` (from Aug 11)
But currently, there is a newer version of preventad-open dataset (From Oct 13). Is this a desired behavior, to have a specific version in the tree here?
Does this mean that this dataset https://g

[2020-11-17 19:02] cmadjar commented on #436
@zxenia I think the only file that changed between the two commits is the DATS file to add the Zenodo DOI. All the data files are identical.

I guess I need to send a PR to update the preventad-open dataset in the preventad-open-bids dataset. Unless there is a better way to do that?

[2020-11-17 19:08] zxenia commented on #436
Then would it be a solution to point to a dataset repo in `derivedFrom` but not to its version in a tree?
for example:

[code]

[2020-11-17 19:09] cmadjar commented on #436
that seems reasonable to me. @emmetaobrien do you agree? If so, I will send a PR to fix that shortly :).

[2020-11-17 19:17] emmetaobrien commented on #436
This entirely makes sense to me.

[2020-12-04 23:23] cmadjar opened #472 "CFMM_7T__MP2RAGE_T1_mapping"
The .conp-osf-crawler.json file has been git-annexed by mistake. It should be tracked by git, not git-annex.

[2020-12-04 23:28] cmadjar opened #473 "Multi-model_functionalization_of_disease-associated_PTEN_missense_mutations"
There is no .datalad directory with this dataset so it cannot be downloaded via datalad.

[2020-12-04 23:30] cmadjar commented on #473
@emmetaobrien it looks like this might be a dataset you worked on at some point. Would you mind investigating this? Thank you! :-)

[2020-12-04 23:32] cmadjar opened #474 "refseq_Homo_sapiens"
Cannot download the file Homo_sapiens.gff.gz.

DataLad message:
[code]

[2020-12-04 23:32] cmadjar commented on #474
@emmetaobrien if you could investigate as to why this particular files, that would be awesome. Thank you!

[2020-12-07 15:18] #472 closed

[2020-12-09 08:59] mih commented on #104
I am thinking of implementing something along the lines of https://github.com/datalad/datalad-osf for ZENODO. Ideally, it could be based on the code you already have. But I have difficulties finding it. Can you point me to it please? Thx!

[2020-12-09 15:11] cmadjar commented on #104
Hi Michael,

I am not sure if this is what you are looking for but our Zenodo specific Crawler code can be found here: https://github.com/CONP-PCNO/conp-dataset/blob/master/scripts/Crawlers/ZenodoCrawler.py

Our conp-dataset crawler is https://github.com/CONP-PCNO/conp-dataset/blob/master/scripts/crawl.py, which uses the libraries in https://github.com/CONP-PCNO/conp-dataset/tree/master/scripts/Cr

[2020-12-10 17:12] cmadjar commented on #375
- OSF crawler PR: #478
- OSF crawler documentation PR: https://github.com/CONP-PCNO/conp-documentation/pull/49

[2020-12-10 22:07] cmadjar opened #481 "mm_neo_atlas"
It looks like none of the files of this dataset can be downloaded.

One example from a Circle CI failed run:
[code]

Tried running `datalad get`  on all the files and none appears to be downloadable unfortunately. Part of the error:
[code]

[2020-12-11 14:14] emmetaobrien commented on #481
The source server appears to be down, it's not clear whether this is permanent; I will check in again over the next while, and remove the dataset from the CONP interface if this persists.

[2020-12-11 15:01] cmadjar commented on #481
Thank you @emmetaobrien I was afraid it would be something like that. Hopefully the server gets back online soon.

[2020-12-11 21:39] cmadjar commented on #444
I could not find any solution as to why the crawler is failing on the VM so in the end, I crawled the dataset locally on my computer and the dataset is now updated.

[2020-12-11 21:39] #444 closed

[2020-12-11 22:11] cmadjar commented on #370
I think this can be closed now. @emmetaobrien feel free to reopen if needed.

[2020-12-11 22:12] #370 closed

[2020-12-11 23:59] jbpoline opened #483 "Linking to DataLad discution on token authentication."
## A pointer to the token authentification question in DataLad

## (Related issues)[https://github.com/datalad/datalad/issues/4134]

[2020-12-14 14:36] #474 closed

[2020-12-14 14:48] emmetaobrien commented on #481
The mm_neo_atlas dataset continues non-functional and has been removed for the moment.

[2020-12-14 14:48] #481 closed

[2020-12-14 21:49] emmetaobrien commented on #443
This dataset is now loaded into CONP, as of https://github.com/CONP-PCNO/conp-dataset/pull/479.

[2020-12-14 21:49] #443 closed

[2020-12-17 21:32] cmadjar commented on #419
After discussions at the CONP dev meeting of December 16th, 2020, the components will not be handled as derived dataset. Instead, the OSF crawler will be modified to grep the files from the OSF components (in addition to the files already present in the dataset) when components are available.

To avoid sending PRs for each components, the OSF crawler will also ignore datasets returned in the OSF A

[2020-12-23 15:22] #436 closed

[2021-01-12 14:47] cmadjar opened #491 "Harmonization of the DATS.json formats field"
## Purpose

At the moment, file formats stored in the DATS.json files of the dataset are not very harmonized (for example, .mnc and MINC refers to the same file format, txt, .txt and TXT etc...).

Need to harmonize values across datasets so they can be properly represented in the portal. Will also need to modify the DATS GUI to enforce the harmonization.

Proposed convention: by default, all file

[2021-01-12 15:50] emmetaobrien commented on #491
I have updated the two Khanlab datasets accordingly and submitted PRs to the source repositories.

[2021-01-12 22:07] cmadjar opened #495 "Zenodo crawler does not go through all pages returned by the API response"
Current link used to query the Zenodo API:

https://zenodo.org/api/records/?type=dataset&q=keywords:"canadian-open-neuroscience-platform"

At the bottom of the Zenodo response, there are the following information that can be used to navigate through pages a bit like the OSF crawler does:
[code]

[2021-01-13 15:44] cmadjar commented on #272
@emmetaobrien @zxenia can this be closed?

[2021-01-13 15:47] cmadjar commented on #337
@emmetaobrien could you investigate if that is still the case? Thank you!

[2021-01-13 16:16] #375 closed

[2021-01-13 22:03] emmetaobrien commented on #337
This is still the case for Learning_Naturalistic_Structure__Processed_fMRI_dataset, SIMON-dataset and all six openpain datasets.

Looking at the git-annex documentation (https://git-annex.branchable.com/backends/) symlinks of this form are generated when the file content is not available for hashing at the time they were added to the repository, so they would need to be removed and re-added.

[2021-01-15 18:53] cmadjar opened #499 "Harmonization of the DATS.json date type field"
## Purpose

Harmonization of the date types values of the DATS.json files describing datasets.

Convention: date type values should be all lower case except for "CONP DATS fileset creation date" where the acronyms should be capitalized.

**Initial list of date types based on what is already present in the datasets:**
- CONP DATS JSON fileset creation date
- start date
- end date
- release date
- l

[2021-01-20 21:48] #419 closed

[2021-01-28 16:30] cmadjar commented on #277
As much as this is a really good idea, I don't think this is feasible as neither Zenodo nor OSF show user's contact information in their API responses (I really took a deep look into the responses and cannot find any information).

I will close this issue since I do not see a way we could implement this. @glatard feel free to reopen if you think of a way to do that.

[2021-01-28 16:30] #277 closed

[2021-01-28 17:07] cmadjar commented on #337
This will be discussed at the next CONP-dev call. Looking at @emmetaobrien's comment above, it would appear that all the crawled dataset would have that issue, in addition to SIMON and all 6 openpain datasets.

Proposal to recrawl everything without the `--fast` option so MD5E hashes can be present in the dataset.

For the crawler datasets, will need to modify both crawlers to remove the `--fast`

[2021-01-28 19:40] cmadjar opened #515 "List of datasets that are missing subjects value in extra property"
The following datasets are missing the subjects extra property value in their DATS.json files as flagged by #507:
- [ ] Multi-model_functionalization_of_disease-associated_PTEN_missense_mutations (waiting to hear back from Paul Pavlidis)
- [x] nhpatlas
- [ ] all openpain datasets (waiting to hear back from the openpain people for the number of subjects for their datasets)
- [ ] Systematic_phenomic

[2021-01-28 19:41] cmadjar commented on #515
@emmetaobrien the list above are what still needs to have the subjects extra property added to the dataset. I remember you contacted the openpain people and are still waiting for their answers.

Did you also contact the owners of nhpatlas, Multi-model_functionalization_of_disease-associated_PTEN_missense_mutations and Systematic_phenomics_analysis_of_autism-associated_genes? I don't remember.

Tha

[2021-01-28 20:09] emmetaobrien commented on #515
I have found the documentation for `nhpatlas` and updated that now.

[2021-01-28 20:21] emmetaobrien commented on #515
And I have mailed Paul Pavlidis to inquire after the subject counts for the other two datasets.

[2021-01-29 20:13] emmetaobrien commented on #515
Addressed in https://github.com/CONP-PCNO/conp-dataset/pull/516

[2021-01-29 20:13] #515 closed

[2021-01-29 21:37] emmetaobrien commented on #337
Note that all datasets generated by crawling OSF or Zenodo also have symlinks of this form.

[2021-02-05 15:04] cmadjar opened #517 "Recrawl preventad-open-bids and preventad-registered BIDS component"
The PREVENT-AD open BIDS dataset contained some empty 4D NIfTI files. Something went wrong with the mnc2nii conversion on Jul 27th for some obscure reason.

The dataset has been fixed on LORIS and need to be recrawled to fix the files on preventad-open-bids and the BIDS subdataset of preventad-registered

[2021-02-09 19:57] emmetaobrien commented on #337
I am currently testing `git annex migrate` to update the link format for one of the openpain datasets.

[2021-02-09 21:26] cmadjar commented on #517
Progress on the related tasks:
- [x] recrawl `preventad-open-bids`
- [ ] recrawl `preventad-registered-images-in-BIDS`
- [ ] update `preventad-registered` with latest commit of `preventad-registered-images-in-BIDS`
- [ ] update conp-dataset with latest commit of `preventad-open-bids` and `preventad-registered`

Recrawling takes a lot of time because there are many files for these datasets...

[2021-02-10 20:03] cmadjar commented on #491
The only part missing to close that ticket is the update to the DATS GUI. An issue has been created in the DATS editor GUI. Will reference that issue in the winter project and close this one as everything else was completed.

[2021-02-10 20:03] #491 closed

[2021-02-10 23:13] #495 closed

[2021-02-12 16:32] cmadjar commented on #410
This could be due to the fact that one of the URLs annexed for the file still refers to phantom-dev... Will create a script to easily remove old invalid URLs from the datalad remote to avoid those issues with other datasets as well.
Because the URL is embedded within the datalad remote, we cannot use the uuid to delete the useless old URLs... A script needs to be created to find out the URL to rem

[2021-02-12 16:41] #517 closed

[2021-02-15 21:00] cmadjar commented on #410
Removing the bad URLs phantom-dev.loris.ca appears to have solved the recurrent issue for this dataset. :-)

[2021-02-15 21:00] #410 closed

[2021-02-17 14:04] cmadjar commented on #340
For some reason, the URLs of every scans.json file are pointing to all the scans.json files...

[code]

Need to find out why and fix this...

[2021-02-22 15:56] #499 closed

[2021-02-22 16:37] cmadjar commented on #340
After discussions with Yarik on issue https://github.com/datalad/datalad/issues/5429, the reason multiple URLs are appended to the `*scans.json` and `*bval` files is related to all the files having the same hash as they are identical.

Since those files do not contain any sensitive data (just protocol descriptions), instead of annexing those files, they will be tracked by git directly.

Datasets a

[2021-02-22 20:08] cmadjar commented on #42
@tkkuehn Can this be closed?

[2021-02-22 20:11] cmadjar commented on #420
Fixed in https://github.com/CONP-PCNO/conp-dataset/pull/477

[2021-02-22 20:11] #420 closed

[2021-02-22 20:14] cmadjar commented on #473
Fixed

[2021-02-22 20:14] #473 closed

[2021-02-22 20:18] cmadjar commented on #337
@emmetaobrien Correct me if I am wrong but I think that all the manual datasets have been fixed, right? The only other dataset that do not have hashes with files are the crawlers' datasets for which we will rely on the versioning of the crawled platform (Zenodo, OSF for now).

If that is the case, maybe this can be closed?

[2021-02-22 20:22] emmetaobrien commented on #337
Yes, I believe this is the case. For reference, that is the SIMON and openpain datasets recrawled; I was holding off on closing this issue until @glatard updated all the openpain datasets and I have finished updating the conpdatasets copies and update conp-dataset, for them, which I am in the middle of doing now.

[2021-02-22 21:31] tkkuehn commented on #42
Yes, MouseBytes is on the CONP Portal, so we can close this issue.

[2021-02-22 22:08] #42 closed

[2021-02-23 14:08] emmetaobrien commented on #337
All the manually generated datasets to which this issue applies are now updated.

[2021-02-23 14:08] #337 closed

[2021-03-03 19:21] cmadjar opened #532 "Harmonize DATS privacy field"
**The allowed values for the privacy field should be one of the following terms:**
- open
- registered
- controlled
- private

**Proposed definitions for the 4 terms:**
- open: freely and publicly available
- registered: available to bona fide researchers/clinical care professionals only
- controlled: available to qualified researchers approved by a committee after review of their research proposa

[2021-03-03 19:22] cmadjar commented on #532
@emmetaobrien @PapillonMcGill @zxenia could you verify that the definition I propose above make sense? Thanks!

[2021-03-03 19:26] PapillonMcGill commented on #532
Yes, it make sense with what was discussed

[2021-03-03 19:31] emmetaobrien commented on #532
That all looks good to me.

[2021-03-03 19:35] cmadjar opened #533 "Harmonize DATS isAbout field"
Values in this field should refer to biological entities. Species should always be included in this field. Other values can include diseases (Alzheimer's disease) or category (older adult, healthy...).

Values in this field should be in lower case unless it is an acronym or know to required an upper case letter.

For the taxonomy, it should be using the terms from the NCBI taxonomy browser: https:

[2021-03-03 19:42] cmadjar commented on #533
@emmetaobrien @PapillonMcGill @zxenia I am not sure to which extent we can add this field to the validator. For now, I did not mention the validator and tests in the description of this issue. Thoughts?

[2021-03-03 19:54] emmetaobrien commented on #533
We could require that under `isAbout` there must be an `identifier` with an `identifierSource` containing a value that starts with the string `https://www.ncbi.nlm.nih.gov/Taxonomy`; it's a bit clumsy but it's as good a way as I can see of confirming that the species is specified.

[2021-03-03 20:06] cmadjar opened #534 "Validate values of the DATS privacy field"
Allowed values for the privacy field have been narrowed to the following 4 terms:
- open
- registered
- controlled
- private

Need to update the validator and the automated tests to validate for DATS `privacy` field values and ensure they match the convention above.

Note: the privacy field is not required in the DATS files but if present it would need to be one of the 4 terms above.

[2021-03-03 20:13] cmadjar commented on #532
Crawlers do not need to be updated for this field. Yeah! One less thing to do :)

[2021-03-03 21:05] cmadjar opened #535 "Submit CONP terms to NIDM"
Following our earlier discussion today, here is the list of modification that needs to occur before submission to NIDM of the CONP terms. @zxenia feel free to add anything I might have missed.

### privacy field:

Terms should be one of:
- open (same as public)
- registered
- controlled (same as restricted)
- private (same as controlled)

### isAbout

Terms that are not species to be added:
- adul

[2021-03-03 21:12] cmadjar opened #536 "Review DATS privacy field and update them to new convention"
This is a subtask of #532.

Need to review and update the DATS files where the privacy field does not contain one of the following value when present:
- open
- registered
- controlled
- private

@PapillonMcGill since you start doing the isAbout changes tomorrow, maybe you could update the privacy field at the same time when present? One bird two stones :-).

Thanks!

[2021-03-03 21:29] cmadjar opened #537 "Fix wrong terms used in isAbout field of the current DATS files"
This is a subtask of #533.

The following identified values need to be changed in the DATS files:
- [x] `adult human` => replace by `adult` + `Homo sapiens`
- [x] `Adult humans` => replace by `adult` + `Homo sapiens`
- [x] `Healthy` => replace by `healthy` + add species if not already provided
- [x] `Older adults human` => replace by `older adult` + `Homo sapiens`
- [x] `total RNA` => ensure a spe

[2021-03-03 21:43] cmadjar opened #538 "Update validator to check if there is at least one species entry in isAbout field"
This is a subtask of #533.

Add a check to the validator and tests to verify that there is at least one entry with an `identifier` and an `identifierSource` containing a value that starts with the string https://www.ncbi.nlm.nih.gov/Taxonomy.

Example structure of the isAbout field for a species entry:
[code]

Note: this check should be skipped for DATS files from the crawlers (crawlers dataset al

[2021-03-03 21:58] cmadjar commented on #535
@zxenia for the licenses terms, I just noticed that in the DATS GUI, we have all of those:
- CC BY
- CC BY-SA
- CC BY-NC
- CC BY-NC-SA
- CC BY-ND
- CC BY-NC-ND
- CC0
- ODbL
- ODC-By
- PDDL

Might be worse representing all of them in your future NIDM PR. Thoughts?

[2021-03-03 22:10] cmadjar opened #539 "Identify which license value should be used as a default by the DATS GUI when a user does not specify a license"
For the DATS GUI, if a user does not specify a license the DATS GUI should then specify a default license and prompt the user by telling the user what the default license will be attached in their DATS file.

Need to figure out which default license to use.

[2021-03-03 22:11] cmadjar commented on #539
@emmetaobrien maybe you could look into which default license could be used for the DATS GUI? Thank you!

[2021-03-03 22:12] cmadjar commented on #539
I added the discussion required as this will probably need to be validated at the CONP dev meeting which license should be the default license and whether it should also be added to the crawlers.

[2021-03-03 22:18] cmadjar opened #540 "Fix wrong terms used in licenses field of the current DATS files"
The following identified values need to be changed in the DATS files:
- [x] CC-By Attribution 4.0 International => `CC BY-4.0`
- [x] Creative Commons Attribution 4.0 International (CC-BY 4.0)  => `CC BY-4.0`
- [x] CC-BY-4.0  => `CC BY-4.0`
- [x] BY-NC-SA => `CC BY-NC-SA`
- [x] Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License => `CC BY-NC-SA`

[2021-03-03 22:19] cmadjar opened #541 "Harmonize DATS licenses field"
List of terms:
- CC BY
- CC BY-SA
- CC BY-NC
- CC BY-NC-SA
- CC BY-ND
- CC BY-NC-ND
- CC0
- ODbL
- ODC-By
- PDDL

**TODOs:**
- [x] find out which default value should be used when none are specified #539
- [x] fix datasets with wrong term for the license #540
- [x] crawlers default value is None for that field currently. Figure out whether we need to change that value to a default setting or keep

[2021-03-03 22:21] cmadjar commented on #541
@emmetaobrien @PapillonMcGill @zxenia if you have any ideas on how to incorporate this in the DATS validator. It might be tricky since users can enter URLs and other things in that field...

[2021-03-03 22:38] cmadjar opened #542 "Clean up DATS values stored in data types field"
Here is the list of identified terms that need to be removed from the data types field of the DATS files:
- [x] BIDS (move this in the formats section if it is not already present)
- [x] computer and information science
- [x] health and life sciences
- [x] study information

Note: if those come from crawler's dataset, then we can probably leave them for now.

[2021-03-03 22:50] cmadjar opened #543 "Clean up DATS values stored in keywords field"
Here is the list of identified terms that need to be removed from the keywords field of the DATS files:
- Alzheimer's disease => ensure that it is in the isAbout field before removal
- cognition => should be moved to the data types field if not already present
- epigenomics => should be moved to the data types field if not already present
- genomics => should be moved to the data types field if no

[2021-03-04 15:08] cmadjar commented on #536
@PapillonMcGill #545 will automatically flag the invalid DATS due to the privacy value not matching the convention.

[2021-03-04 16:33] cmadjar commented on #536
List of datasets that fails the validation in #545 and needs to be corrected:

- [ ] BigBrain
- [ ] BigBrain_3DSurfaces
- [ ] BigBrain_3DClassified
- [ ] Khanlab/BigBrainMRICoreg
- [ ] Khanlab/BigBrainHippoUnfold
- [ ] Khanlab/HCPUR100-Template
- [ ] SIMON-dataset
- [ ] braincode_NDD_Priority_Setting_Partnership
- [ ] braincode_Mouse_Image
- [ ] braincode_fBIRN
- [ ] calgary-campinas
- [ ] cneurom

[2021-03-04 19:27] zxenia commented on #541
@cmadjar I don't think we need to add this in the dats validator because exactly what you said - we still want to allow users to use their own licenses and terms of use. When we prepare those terms we can add them in docs [here](https://github.com/CONP-PCNO/conp-documentation/blob/master/CONP_DATS_fields.md) as suggested licenses but leave a note that the users still can add their own. And once it

[2021-03-04 19:31] zxenia commented on #535
@cmadjar Thanks Cécile! Yes, I think it makes sense since these are our suggested values. I will add those licenses to the terms too.

[2021-03-04 19:37] zxenia commented on #532
The definitions look good to me too.

[2021-03-09 18:15] mathdugre opened #548 "Invalid GitHub secrets for Docker worflow."
The Docker build workflow fails at the authentication step.
We might want to validate the current GitHub secrets for:

- [ ] DOCKERHUB_USERNAME
- [ ] DOCKERHUB_PASSWORD

## Related issues (optional)
Initial PR #528

#### tag : @glatard , @cmadjar

[2021-03-09 18:52] mathdugre opened #549 "Major test suite failure"
Currently, the testing suite is failing prior to testing datasets.
Failing due to: `./lint.sh: line 2: flake8: command not found`.

The expected behavior from #544 was to run flake8 prior to the tests.
However,  with the current caching system implement in the CircleCI workflow, adding dependencies to a *requirements.txt* also requires bumping the version of the cache.

I experienced the same issu

[2021-03-09 21:50] cmadjar commented on #548
@mathdugre I don't think I have the login information that should be used for those secrets...

[2021-03-10 16:08] cmadjar opened #552 "refseq_Homo_sapiens"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/2556/workflows/7736ed3c-f4c5-4ab9-b7cc-8a4390c424d8/jobs/5142
https://circleci.com/gh/CONP-PCNO/conp-dataset/5144?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
https://circleci.com/gh/CONP-PCNO/conp-dataset/5139?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-

[2021-03-11 20:49] mathdugre opened #554 "Download timeout for Zenodo archived (Zip) datasets on CircleCI"
When performing the download test of archived Zenodo datasets, the testing suite currently:
1. Download the whole archive to retrieve the file names.
2. Then tries to download individual files.

However, it seems that this strategy can be problematic as pointed out in #550, even for small archives.

To ensure archived Zenodo datasets are tested properly, we might need to find a more efficient appr

[2021-03-11 22:38] #549 closed

[2021-03-12 22:31] glatard commented on #340
Hi @cmadjar, preventad-open-bids seems to be passing now, can we close this?

[2021-03-12 22:37] glatard commented on #548
Updated the secrets

[2021-03-15 14:07] #536 closed

[2021-03-15 14:45] cmadjar commented on #340
Good catch! Thank you. It is indeed fixed now

[2021-03-15 14:45] #340 closed

[2021-03-15 18:14] #552 closed

[2021-03-15 19:01] PapillonMcGill commented on #540
4.0 (version) should go to the "version" tag
i.e.:
"name":"CC BY",
"version":"4.0"

[2021-03-15 19:04] cmadjar commented on #540
oh, good catch! @zxenia, @emmetaobrien  I believe this will affect the NIDM term, no?

[2021-03-15 19:10] zxenia commented on #540
I'd still keep 4.0 in the name since it's the full name of the license here https://creativecommons.org/licenses/by/4.0/

[2021-03-16 20:01] cmadjar commented on #537
Was merged with #557

[2021-03-16 20:01] #537 closed

[2021-03-17 17:57] mathdugre commented on #548
The Docker workflow is passing now. Closing this issue.

[2021-03-17 17:57] #548 closed

[2021-03-19 15:54] cmadjar commented on #483
@jbpoline Could you elaborate more on this issue? I don't understand what would need to be done regarding this. Thank you!

[2021-03-19 15:55] cmadjar commented on #272
@emmetaobrien @zxenia can this be closed?

[2021-03-22 15:32] cmadjar commented on #309
Will be discussed on Wednesday to elaborate a plan for this issue.

[2021-03-22 15:34] cmadjar commented on #104
@PapillonMcGill can you discuss this with Tristan and identify what needs to be done for that issue?

[2021-03-22 16:11] cmadjar opened #563 "Review DATS validator to identify addition checks that could be added"
## Purpose

Review the current https://github.com/CONP-PCNO/conp-dataset/tree/master/scripts/dats_validator and ensure that everything that could be automatically checked is being checked.

For example:
- check that all required fields are indeed present and properly formatted
- when a field is a predefined set of values (example privacy field), ensure that there is a check for those values only i

[2021-03-23 13:07] emmetaobrien commented on #272
I think @zxenia's code for annotating terms answers the question I opened this issue to address.

[2021-03-23 13:07] #272 closed

[2021-03-30 17:29] #554 closed

[2021-03-31 15:28] cmadjar commented on #309
Could leverage the stale Github action. Whenever a dataset is flagged as broken by our test suite, create an issue. When the issue gets flagged as stale and is eventually automatically broken, then we can either remove the dataset or unstale the issue.

[2021-04-01 13:14] cmadjar commented on #261
@mathdugre @glatard I am not sure how this would be feasible because of the git-annex branch. Maybe we should close this issue?

[2021-04-01 13:15] #46 closed

[2021-04-01 13:18] cmadjar commented on #9
@mathdugre @glatard should this be closed?

[2021-04-01 18:21] cmadjar commented on #542
@PapillonMcGill "Study Information" is still present in the DATS file of the `braincode_Mouse_Image` dataset. Could you correct that?

[2021-04-01 18:27] cmadjar commented on #540
@PapillonMcGill @emmetaobrien I still see the following in the DATS files:

- `CC-By Attribution 4.0 International` should be replaced by `CC BY-4.0` for the following datasets
  - BigBrainHippoUnfold
  - Calgary_Preschool_MRI_Dataset
  - BigBrainMRICoreg
-  `Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License` should be replaced by `CC BY-NC-SA` for the followin

[2021-04-01 18:32] #543 closed

[2021-04-01 18:34] cmadjar commented on #539
@emmetaobrien Have you had a chance to look into this? Thanks!

[2021-04-05 16:28] mathdugre commented on #261
@cmadjar , I agree. I will close the issue for now. If the needs be, we can reopen it later.

[2021-04-05 16:28] #261 closed

[2021-04-06 17:05] emmetaobrien commented on #539
I have added this to the agenda for next week's dev meeting.

[2021-04-08 14:33] cmadjar opened #579 "Multicenter-phantom dataset currently broken"
The multicenter-phantom dataset is completely broken at the moment. The dataset has been fully recrawled and the documentation updated on https://github.com/cmadjar/multicenter-phantom.

All that is left is final approval of the README and DATS files before the conpdataset/multicenter-phantom can be updated. The PRs to do that have already been sent at:
- https://github.com/conpdatasets/multicente

[2021-04-15 18:46] cmadjar commented on #539
@emmetaobrien could you update the issue with what has been discussed?

[2021-04-20 18:46] #540 closed

[2021-04-20 18:49] #542 closed

[2021-04-21 13:30] cmadjar commented on #408
@joeyzhou98 Can this be closed now that #572 has been merged?

[2021-04-21 13:31] joeyzhou98 commented on #408
Yes it can

[2021-04-21 13:31] #408 closed

[2021-04-22 20:34] #579 closed

[2021-04-23 16:11] cmadjar opened #594 "Crawlers - stop creating DATS.json and README.md automatically from API endpoints"
## Purpose

This has been discussed on 2021-04-23 during a meeting with Rachel, Patrick, Derek, Samir and Cécile.

Because of the limited quality of information we can get from the automatically created DATS.json and README.md files, we might want to change our policy and stop creating those files based on the API endpoints and ask people to actively provide a DATS.json + README.md file when they

[2021-04-23 16:19] cmadjar opened #595 "Go through the datasets pages and list the datasets that could use some improvements in their descriptions"
## Purpose

This has been discussed on 2021-04-23 during a meeting with Rachel, Patrick, Derek, Samir and Cécile.

Some of the datasets have limited descriptions and would need some improvements of the information provided in the DATS.json and README.md files.

**TODOs**
- create a list of the datasets that require improvements and what improvements those should be.
- contact the people that uploa

[2021-04-27 13:49] cmadjar opened #596 "multicenter-phantom - verification of content failed for visit.json files"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/3004/workflows/34cff15a-84c7-4e46-a30a-20dc01fa8b1d/jobs/6054

* Standard error:

![Screen Shot 2021-04-27 at 9 36 29 AM](https://user-images.githubusercontent.com/1402456/116250800-10671700-a73c-11eb-8e56-c9a5fcd4ee39.png)

All visit.json files of candidate 963271 cannot be downloaded manually either and they all retur

[2021-04-27 14:07] cmadjar opened #597 "Crawl CHBMP"
## Purpose

Currently, CHBMP contains only the dataset description but it is now ready to be crawled.

CHBMP is using a LORIS instance. The LORIS crawler might need some tweaks for this dataset though to download the data in a correct BIDS structure.

[2021-04-27 15:39] #596 closed

[2021-04-28 13:37] glatard opened #599 "PERFORM dataset should show with "Third-party account required""
The dataset is private on Zenodo, but "Third-party account required" doesn't show in the portal, most likely due to the DATS file not including the right field.

## Expected Behavior

"Third-party account required" should show in the portal for PERFORM dataset.

## Current Behavior

"Third-party account required" does not show in the portal for PERFORM dataset.

## Possible fix (optional)

Update

[2021-04-28 17:04] mathdugre opened #600 "Automate creation of archived dataset made available to download on the portal"
## Purpose

This was initially discussed with @cmadjar , @glatard , @joeyzhou98 .

Creating a process to automate the creation of archived zip files that could be download via the frontend of the portal.
Additionally, receiving a notification when things don't go as expected would he beneficial.

## Context

This is currently done automatically using the procedure described [here](https://github.c

[2021-04-29 13:05] cmadjar opened #601 "PERFORM_Dataset__one_control_subject"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/3022/workflows/d5de4ec4-d4ee-4858-888d-95f20a830fc4/jobs/6092

* Standard error:

![Screen Shot 2021-04-29 at 9 03 03 AM](https://user-images.githubusercontent.com/1402456/116554911-be53fc00-a8c9-11eb-8cc6-7d08d5bf3b25.png)

This error has been consistant in the past few Circle CIs ran automatically to test `conp-datase

[2021-04-29 13:20] cmadjar opened #602 "preventad-open-bids"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/3022/workflows/d5de4ec4-d4ee-4858-888d-95f20a830fc4/jobs/6092

* Standard error:
![Screen Shot 2021-04-29 at 9 07 18 AM](https://user-images.githubusercontent.com/1402456/116555422-5f42b700-a8ca-11eb-88bc-e4feaf04aea3.png)

* Help requested from:

@mathdugre @glatard

* Observations

This issue has been consistently sho

[2021-04-29 13:24] #538 closed

[2021-04-29 13:24] #534 closed

[2021-04-29 20:43] mathdugre commented on #601
@cmadjar , I uploaded a updated version of the dataset on Zenodo. It should be crawled shortly.

[2021-04-30 13:38] cmadjar commented on #602
In the latest couple of Circle CI detailed [outputs](https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/3030/workflows/394206ab-3d57-4450-adb1-6ebe710bcacb/jobs/6107/steps), I see the following:
[code]

I have a feeling this is why it is failing. Now, why has this happened only for the past 9 days on that dataset, that is a great question...

I was also wondering why this did not sho

[2021-04-30 13:41] cmadjar opened #606 "preventad-open does not appear to be automatically tested"
Looking at the failed test of `preventad-registered` and `prevent-open-bids`, I noticed that `preventad-open` does not appear to be tested when Circle CI is running automatically on `master`.

Example of the steps output where `preventad-open` does not appear to be tested: https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/3030/workflows/394206ab-3d57-4450-adb1-6ebe710bcacb/jobs/6107

[2021-04-30 13:53] cmadjar opened #607 "preventad-registered Circle CI test is failing but manual download of the file is working"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/3031/workflows/b53c34b6-7766-4726-afa8-ed9434f5f4c4/jobs/6109/steps

* Standard error:

I notice a lot of datalad INFO messages regarding preventad-registered in the detailed output of Circle CI so I wonder whether this could be related to why it is failing (at least one of the message is related maybe?). Link to the st

[2021-04-30 17:23] #599 closed

[2021-05-11 12:28] #606 closed

[2021-05-11 12:28] #607 closed

[2021-05-12 14:48] zxenia opened #620 "Add definitions for the CONP terms"
## Purpose
Several terms that used in metadata and that we plan to submit to the NIDM don't have any external resources to link to or a proper definition to link to (e.g. ontology concept ID).

The terms are the following:
**Keywords:**
functional variomics
mesoscale folding
MP2RAGE
SA2RAGE

**Data types:**
high-throughput expression neuroscience data
neurosensory assessments
respondent demographi

[2021-05-19 14:24] cmadjar opened #623 "Modify the tests of DATS file so that new prospective dataset sent via Zenodo, OSF or FRDR have a complete validation of the DATS file"
## Purpose

This has been discussed during the CONP dev meeting of May 19th, 2021.

Need to modify the automated tests so that new datasets crawled from Zenodo or OSF can have their DATS file fully validated against the CONP requirements.

In order to not fail all of the retrospective datasets, need to add a list of those retrospective datasets for which the DATS file will not be fully validated a

[2021-05-19 14:48] cmadjar commented on #623
List of datasets DATS that fail the DATS validator:

- [ ] CFMM_7T__MP2RAGE_T1_mapping
[code]
- [ ] Calgary_Preschool_MRI_Dataset
[code]
- [ ] Comparing_Perturbation_Modes_for_Evaluating_Instabilities_in_Neuroimaging__Processed_NKI_RS_Subset__08_2019_
[code]
- [ ] Intracellular_Recordings_of_Murine_Neocortical_Neurons
[code]
- [ ] Learning_Naturalistic_Structure__Processed_fMRI_dataset
[code]
- [

[2021-05-19 15:28] cmadjar opened #625 "List of automatically crawled datasets that will need to update their DATS.json"
## Purpose

Below is the list of datasets that do not pass the DATS validator and the error that were flagged

## List of datasets that will need updates to their DATS file

List of datasets DATS that fail the DATS validator:

- [ ] CFMM_7T__MP2RAGE_T1_mapping
[code]
- [ ] Calgary_Preschool_MRI_Dataset
[code]
- [ ] Comparing_Perturbation_Modes_for_Evaluating_Instabilities_in_Neuroimaging__Processe

[2021-05-25 21:20] cmadjar commented on #539
@emmetaobrien any updates on this? If so, could you update the issue please? Thanks!

[2021-05-26 13:12] emmetaobrien commented on #539
Current status here is as follows:

If a license has not been specified in the license field, in a Zenodo or OSF entry, it is most likely mentioned in the README.  Therefore we search the README file for a recognisable license specification (e.g. CC BY-SA) and populate our license field with it if we find one.

[2021-05-26 22:00] cmadjar commented on #539
Ok. Thank you for the update! Should this be closed then?

[2021-05-27 21:36] cmadjar opened #638 "refseq_Homo_sapiens dataset broken"
* Test build:
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/3261/workflows/8b42702d-5fd1-442d-ac00-e5c52ce17a12/jobs/6569

* Standard error:
[code]

* Help requested from:
@emmetaobrien Maybe the file changed at the source and needs to be recrawled?

Tested locally and could not download the file manually either. Got the following error:
[code]

[2021-05-31 13:41] emmetaobrien commented on #539
While this method appears to work, I don't think we can guarantee that it will cover every possible option we might encounter; happy to close it for the moment until we find an exception, though.

[2021-05-31 14:28] #539 closed

[2021-06-02 14:28] #638 closed

[2021-06-02 17:27] #623 closed

[2021-06-02 19:50] cmadjar opened #642 "Modify crawler behaviours to actually download the files when crawling so MD5hash can be added to the git annex URL"
## Purpose

The crawler code for Zenodo and OSF need to be updated so that files get downloaded before they get annexed. Doing so will allow the storage of the MD5sum hash can be seen in the git annex object and we can later on link easily processed files in the execution records Mandana is working on.

[2021-06-02 20:10] cmadjar commented on #642
The code has already been modified in https://github.com/CONP-PCNO/conp-dataset/pull/627/files#diff-4db1ecdec0c56275d97bd8a7d85769c0ad610d06cab82ef10124fa2cf6c7fab0L81 to download the files. All that is left is recrawling the datasets.

Here is a list of datasets that do not have the MD5 hash in the git annex object URL:
- CFMM_7T__MP2RAGE_T1_mapping
- Calgary_Preschool_MRI_Dataset
- Comparing_Per

[2021-06-04 16:50] joeyzhou98 commented on #642
@cmadjar is this ok to close?

[2021-06-07 19:40] cmadjar commented on #642
Yep :)

[2021-06-07 19:40] #642 closed

[2021-06-07 20:53] cmadjar commented on #601
@mathdugre @joeyzhou98 tests on the PERFORM dataset are still failing. Below is the latest log from https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/3395/workflows/9fc2254f-9b16-4aba-be75-73d1553da00a/jobs/6833:

[code]

I did set the `DATALAD_ZENODO_token` environment with a valid token in Circle CI. Would you guys have time to look into this? Thank you :)

[2021-06-07 20:59] joeyzhou98 commented on #601
I think the test isn't expecting INFO logs from Datalad, but @mathdugre could tell you more

[2021-06-08 17:52] surchs opened #657 "dats-validator should check for additional properties in the types field"
The [DATS datatype schema](https://github.com/CONP-PCNO/schema/blob/master/data_type_schema.json) does not have any required properties and also does not explicitly allow additionalProperties. As a result, dataset `types` annotations that are probably made in error do validate successfully.

For [example](https://github.com/conp-bot/conp-dataset-Comparing-Perturbation-Modes-for-Evaluating-Instabil

[2021-06-08 18:10] surchs opened #658 "decide on a minimum set of "isAbout" annotations required to validate"
At the moment, the DATS dataset schema does not require any `isAbout` annotation - the place where we add concept level information. We will likely make `isAbout` mandatory on the DATS schema level for CONP (see https://github.com/CONP-PCNO/schema/issues/7).

That brings up the question of what (if any) information should be included in the now mandatory `isAbout` field. Some ideas during our disc

[2021-06-08 18:51] emmetaobrien commented on #658
For completeness' sake, while it is already being checked, it is probably
worth noting taxonomic information as an entity we are keeping in the
isAbout field already.  Also, I think we should come up with a standard
"dummy" value to use here in cases such as phantom data.

                             Emmet

On Tue, Jun 8, 2021 at 2:10 PM Sebastian Urchs ***@***.***>
wrote:

[2021-06-08 18:52] emmetaobrien commented on #658
Sorry, I should put that on the issue instead of mailing it. Brain melting
here.

                                     Emmet

On Tue, Jun 8, 2021 at 2:50 PM Emmet O'Brien ***@***.***> wrote:

[2021-06-08 21:18] surchs commented on #658
Thanks @emmetaobrien, I hadn't seen [the `isAbout` check in the DATS validator](https://github.com/CONP-PCNO/conp-dataset/blob/master/scripts/dats_validator/validator.py#L243) yet. So I think then the question would become: do we want to add other constraints to this validator function and if so, for what types of annotations?

[2021-06-08 22:23] cmadjar commented on #594
In the end, it was discussed that the crawler will keep generating default DATS and README files to use as a template to send to the user so they can update their information. Therefore, closing this issue.

[2021-06-08 22:23] #594 closed

[2021-06-08 22:24] cmadjar commented on #595
https://github.com/CONP-PCNO/conp-dataset/issues/625 contains the list of datasets automatically crawled that should probably be updated.

[2021-06-09 14:20] zxenia commented on #657
I tested if our DATS validator checks for `"types"` being not empty even if the `"types"` property is present: it throws the error if `"types"` list is empty, but if `"types"` list has an empty object inside (e.g. `"types": [{}]`) it doesn't report an error. So I have to add also this check.

[2021-06-14 20:24] cmadjar opened #659 "Create multi-part archive for very large open datasets"
## Purpose

Discussed at the CONP dev of June 9th, 2021.

Figure out how to create multi-part archive for very large open datasets and investigate whether `datalad export-archives` supports that functionality of `tar`

## Related issues

https://github.com/CONP-PCNO/conp-portal/issues/476

[2021-06-14 20:50] cmadjar commented on #659
It does not look like DataLad supports the creation of multi-part archive with `datalad export-archive` based on the documentation in http://docs.datalad.org/en/latest/generated/man/datalad-export-archive.html and a quick review of the DataLad code. @yarikoptic, am I misinterpreting?

If not supported, we could always run `split` on the created large archive to chunk it into smaller multiple archi

[2021-06-14 22:52] yarikoptic commented on #659
unfortunately "not yet", but "thought about": please see https://github.com/datalad/datalad/issues/2038 and https://github.com/datalad/datalad/issues/4155 .

I think, if "a tarball per sub-directory" (https://github.com/datalad/datalad/issues/2038) would fit your case -- IMHO it would be a much better solution that splitting [*].  And I think it should be relatively easy to code up.  The https://g

[2021-06-14 22:54] yarikoptic commented on #659
I guess you mean

[code]
?  I do not think we support that ATM... would require some research and likely to be more difficult to implement than aforementioned "per directory" splitting.

[2021-06-14 23:02] yarikoptic commented on #659
may be @mih or @bpoldrack have more ideas based on the experience with RIA/ORA archives.

[2021-06-15 11:42] bpoldrack commented on #659
RIA/ORA archives are a different case, since we put annex' objects tree in an archive, not the worktree. (Also kinda solves the backreferencing issue).

[2021-07-01 02:10] #371 closed

[2021-07-01 02:10] #336 closed

[2021-07-01 02:10] #9 closed

[2021-07-02 17:06] mathdugre commented on #601
@cmadjar, after merging #665, PERFORM passes the test. I think this issue can be closed.

[2021-07-05 14:59] cmadjar commented on #601
Indeed. Thank you @mathdugre :)

[2021-07-05 14:59] #601 closed

[2021-07-05 15:30] surchs opened #668 "Generate log file for dats jsonld annotator"
## Purpose
Add the option to have the complete, verbose log of the [DATS jsonld annotator](https://github.com/CONP-PCNO/conp-dataset/blob/master/scripts/dats_jsonld_annotator/annotator.py) dumped to a file.

## Context
When running the annotator over many datasets, many logging events with low priority will be created.
For example, if unexpected values are encountered in the DATS file that are the

[2021-07-05 15:36] surchs opened #669 "DATS annotator should log how many terms were not annotated"
## Purpose
The [DATS annotator](https://github.com/CONP-PCNO/conp-dataset/blob/master/scripts/dats_jsonld_annotator/annotator.py) should tell the user at the end of the annotation process how many terms in each annotated DATS file were not annotated.

## Context
We can only map terms to schema.org / JSONLD if they are defined in the DATS schema.
If a DATS file contains additional terms (where this

[2021-07-14 16:04] cmadjar opened #672 "Auto-archive script not running on crawled dataset?"
All OSF or Zenodo datasets are not being archived when running the script `auto_archive.py` with option `--all`.

The following information systematically shows:
[code]
 but the dataset size is definitely below 20GB.

List of affected datasets:

- CFMM_7T__MP2RAGE_T1_mapping_version-2020-10-02T12:55:03.086599.tar.gz
- Comparing_Perturbation_Modes_for_Evaluating_Instabilities_in_Neuroimaging__Proce

[2021-07-14 16:14] cmadjar opened #673 "nhpatlas - verification of content failed when downloading"
When downloading the nhpatlas dataset, get the following error:
[code]
@emmetaobrien is that a dataset you are familiar with? Could you take a look? Thanks!

For some reason this is not picked up by the Circle CI tests. Maybe @mathieu have an idea why this is not picked up by the tests.

[2021-07-14 19:27] emmetaobrien opened #674 "Size or other cut-off points for building git-annex links"
Right now, our general policy when ingesting new datasets is to build a git-annex link to every file in a dataset by default, with a couple of specific exceptions (README.md and DATS.json). However, the utility of building links rather than just storing small files directly in github is questionable, and in tests with the microstructure_informed_connectomics dataset, which contains ~11,300 files,

[2021-07-16 21:39] #672 closed

[2021-07-20 15:43] surchs opened #677 "Zenodo: Add taxonomic "subject" annotation to crawl results"
## Purpose
Zenodo offers authors the [option to annotate with "Subjects"](https://developers.zenodo.org/#representation):

## Context
If the author goes through the trouble of making these connections, it would be good to get them. Here is an example with "subject" annotations: https://zenodo.org/record/4741241

These "subject" annotations are not currently crawled.

## Possible Implementation (op

[2021-07-20 19:48] surchs opened #678 "Improve handling of DATS files generated by the editor on Zenodo"
## Purpose
If a user uses the https://portal.conp.ca/dats-editor to create a `DATS` file for a Zenodo submission, there should be a note that a certain file name is expected for this DATS file to actually be found by the crawler

## Context
Right now, the DATS editor generates a file of the form `DATS_todays_date_string.json`. However, if the user uploads this to Zenodo, the DATS file will be igno

[2021-07-20 19:58] elisaguma commented on #678
As a user, changing the filename of a file is not sufficient to create a new version. You would need to modify the file for zenodo to accept the change.

[2021-07-21 14:26] surchs opened #680 "Clarify Zenodo upload requirements in the docs"
A user who is going to host their data on Zenodo and wants CONP to know about it is going to follow our documentation.

Currently we are advising to enter meta-data on the Zenodo portal and add a tag of `canadian-open-neuroscience-platform` so the crawler can find it.
In addition to what the crawler gets, we also need manually annotated meta-data to generate a valid DATS.json file, e.g.
- the "com

[2021-07-21 16:16] cmadjar commented on #680
@surchs thank you for creating the issue. In the latest documentation (see PR https://github.com/CONP-PCNO/conp-documentation/pull/76) where the instructions for upload are a little bit different:

We now clearly state that the dataset requires a DATS.json and README.md file at the root of the datasets (with instructions on how to create the DATS file). This will avoid the need of back and forth w

[2021-07-21 18:03] #541 closed

[2021-07-21 18:03] #533 closed

[2021-07-21 18:03] #532 closed

[2021-07-21 18:04] cmadjar commented on #535
Should this be closed?

[2021-07-21 18:04] #454 closed

[2021-07-21 18:36] #597 closed

[2021-07-21 19:12] zxenia commented on #535
@cmadjar Hi, yes this can be closed, the terms are submitted and accessible at the NIDM terminology website.

[2021-07-21 19:32] #535 closed

[2021-08-03 20:37] cmadjar commented on #680
PR with the updated documentation was merged and the new instructions are now on the portal

[2021-08-03 20:37] #680 closed

[2021-08-11 14:50] #678 closed

[2021-08-17 20:29] emmetaobrien commented on #673
This issue is corrected by https://github.com/CONP-PCNO/conp-dataset/pull/687.

[2021-08-17 20:29] #673 closed

[2021-09-07 21:00] #600 closed

[2021-09-08 14:24] cmadjar commented on #659
In the end, we are able to stream the download of big archives so this won't be needed.

[2021-09-08 14:24] #659 closed

[2021-09-10 14:57] cmadjar opened #699 "Cannot download one file of the openpain placebo_1 dataset"
While trying to create the archive for the openpain placebo_1 dataset, one of the file cannot be downloaded for some reason. It says the remote is unavailable.

[code]

[2021-09-13 15:02] emmetaobrien commented on #699
This file has downloaded straightforwardly and correctly for me since.

[2021-09-14 20:18] emmetaobrien commented on #699
Still not reproducible, so I thin it can go down as a transient issue.

[2021-09-14 20:18] #699 closed

[2021-09-16 12:13] cmadjar commented on #699
@emmetaobrien after reinstalling from scratch I was finally able to download all the files including the one mentioned above. No idea why I could not download it before... The tar of the dataset is now being created. Thank you for having checked!!

[2021-09-22 17:10] mih commented on #104
Thanks for the pointers. From my POV this can be closed, and the code looks fine. Given the MIT license, I am planning to incorporate this code into a future datalad-zenodo extension, which will feature a range of commands, including the export of a datalad dataset from a zenodo record, but also the deposition of a cloneable datalad dataset at zenodo.

[2021-09-22 17:24] #104 closed

[2021-09-24 17:01] cmadjar commented on #674
This might be tricky for datasets that require third-party accounts since small files can still include data that should not be in the open.

For fully open datasets, I don't see the harm in doing that. @emmetaobrien maybe it could be something to add to the agenda of next week or the week after if we do not have time since we might be doing the roadmap planning?

[2021-09-24 20:14] emmetaobrien commented on #674
Indeed, I was only thinking of this as applying to open datasets.

[2021-10-08 20:10] cmadjar opened #701 "If derivedFrom field is populated in DATS file, automatically add the raw dataset to the datalad repo"
## Purpose

When a user is uploading a new dataset that was derived from another CONP dataset, the derivedFrom field of the DATS file should be populated.

Suggestion to read that field when present and automatically add the DataLad raw dataset as a submodule of the generated dataset.

Note: should be done in the base class as pertinent for both OSF and Zenodo crawler.

[2021-10-19 20:52] cmadjar opened #703 "1000Genomes"
* Test build:

https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/4301/workflows/408833d4-b263-44f6-bdd2-dbed8fa6ae95/jobs/8644
and
https://app.circleci.com/pipelines/github/CONP-PCNO/conp-dataset/4308/workflows/fd768040-5c47-4268-a2a3-82198655c423/jobs/8707

* Standard error:

[code]
and
[code]

File 1KGP_chrMT.vcf.gz appears to not be downloadable anymore. Probably needs to update

[2021-10-19 21:26] zxenia commented on #620
The formats definitions were submitted today.
A subset of terms is still missing definitions.

[2021-11-08 14:56] cmadjar commented on #595
Removed the stale as it is still in progress with the communication committee

[2021-11-08 14:58] cmadjar commented on #658
Removed stale. This is on the roadmap for November. @surchs is this assigned to you? I don't remember...

[2021-11-08 15:11] cmadjar commented on #657
List of datasets that should have their DATS.json file fixed (from the tests of #706):

- [ ] openpain/BrainNetworkChange_Mano
- [ ] openpain/placebo_1
- [ ] openpain/subacute_longitudinal_study
- [ ] refseq/Homo_sapiens
- [ ] 1000GenomesProject
- [ ] Brainspan
- [ ] CHBMP
- [ ] SIMON-dataset
- [ ] celltypes
- [ ] Multi-model_functionalization_of_disease-associated_PTEN_missense_mutations
- [ ] nh

[2021-11-09 20:33] #677 closed

[2021-11-10 23:29] cmadjar opened #712 "Move the URI of an identifier into `identifier` instead of `identifierSource`"
As flagged in https://github.com/CONP-PCNO/schema/issues/8, the URI should be stored in the `identifier` key instead of the `identifierSource` field of the identifier schema.

What needs to be done to resolve this:

- [x] modify the validator to check for the species URI in `identifier` instead of `identifierSource` (might need to have the validator permits both for a while until all datasets are

[2021-11-10 23:49] cmadjar commented on #712
- [ ] all mousebytes datasets
[code]
- [ ] all BigBrain datasets
[code]
- [ ] spins_travelling_phantoms/DATS.json
[code]
- [ ] preventad-open-bids/DATS.json
[code]
- [ ] conp-dataset/projects//mcgill-emc-rna-seq-experiment/DATS.json
[code]
- [ ] all openpain datasets
[code]
- [ ] Systematic_phenomics_analysis_of_autism-associated_genes/DATS.json
[code]

- [ ] conp-dataset/projects//braincode_Mouse

[2021-11-11 15:01] emmetaobrien commented on #712
Thank you, I will start into this today; if the taxonomy data is applied as previously intended, this should basically be the case for all datasets.

[2021-11-11 15:34] emmetaobrien commented on #712
Note with regard to the first on the list of datasets for correction; `mousebytesdataset` has been corrected.  The two datasets in the `mousebytes` subfolder have not been, as they currently point to the data providers' own github repository on which we do not have edit access; I will fork those and change the links accordingly later.

[2021-11-15 02:08] #483 closed

[2021-11-15 14:03] emmetaobrien commented on #712
Update: replaced the two datasets under `mousebytes` with links to forks of those to `conpdatasets` and corrected the identifiers for taxonomic data in their `DATS.json` files.

At this point the only uncorrected dataset is PERFORM, as it is automatically crawled so can't be subsequently modified.

[2021-11-16 21:15] #701 closed

[2021-11-16 21:20] cmadjar commented on #712
I think everything here has been done. I will create a separate issue for the update of the PERFORM DATS file.

@emmetaobrien do you agree? If so, I'll let you the honours of closing the issue. :-)

[2021-11-16 21:24] emmetaobrien commented on #712
Everything else here is done so I am fine with that.

[2021-11-16 21:24] #712 closed

[2021-11-16 21:31] cmadjar opened #718 "Updates to be done on the DATS file of the PERFORM dataset"
The taxonomy information should be encoded as prescribed in #712.

The types should be updated as well as checked by the validator in #706

[2021-11-18 02:07] #563 closed

[2021-11-26 14:34] cmadjar commented on #718
Done by #721

[2021-11-26 14:34] #718 closed

[2021-11-26 14:50] cmadjar commented on #620
@zxenia any updates on this? Thanks!

[2021-11-26 14:51] cmadjar commented on #658
@surchs should we discuss this issue at the next CONP dev call? Thanks!

[2021-11-26 14:52] cmadjar commented on #668
@surchs is this still on your roadmap for December?

[2021-11-26 14:52] cmadjar commented on #669
@surchs is this still on your roadmap for December?

[2021-11-30 22:36] zxenia commented on #620
@cmadjar There is no updates since the middle of October when the latest batch of terms was submitted and merged to NIDM terms. Some terms are still missing descriptions and frankly, I don't know how to go about it, maybe we can stale this issue for now and move forward with integrating the existing ones (term, link, description) to the DATS editor. What do you think?

[2021-11-30 23:12] surchs commented on #658
Hi @cmadjar, sorry, just seen. We can discuss this but I think this issue is addressed by https://github.com/CONP-PCNO/conp-dataset/pull/711. The validator is now checking for at least one taxonomy entry, correct?

[2021-11-30 23:14] surchs commented on #668
@cmadjar: I think I'll discuss this with Adeel who is probably going to be the main consumer of the code and the files it creates. But I think this could make sense to add and it is on my agenda for December.

[2021-11-30 23:15] surchs commented on #669
@cmadjar. Yes, similar to #668, I'll have a chat with Adeel but this would make sense to add for December.

[2021-12-01 14:04] cmadjar commented on #658
@surchs That is correct. Closing the issue then. Feel free to reopen if you think there are still things to do on this.

[2021-12-01 14:04] #658 closed

[2022-01-26 14:12] #703 closed

[2022-01-27 17:18] cmadjar opened #747 "refseq_Homo_sapiens - file Homo_sapiens.gff.gz not downloadable"
Error I get running manually the following command on the archiver VM (on the latest commit):

[code]

[2022-01-27 20:20] emmetaobrien commented on #747
I have just run a local installation of the most up-to-date `conp-dataset` and retrieved this file and it has downloaded correctly without error.  Could you retry?

[2022-01-27 21:46] cmadjar commented on #747
OK. Weird. It is working on my sandbox. Not sure why it did not work on the archiver server...

Thanks for having checked!

[2022-01-27 21:46] #747 closed

[2022-02-28 02:14] #309 closed

[2022-04-06 14:44] emmetaobrien opened #761 "incorporating NeuroLibre data into CONP"
The proposed initial approach is that individual NeuroLibre datasets will show up on Zenodo with the appropriate flag for ingestion into CONP.  Alternatively, they could be loaded manually using standard procedures.  Examples for testing this process would be useful.

The NeuroLibre publication information will go in the `primaryPublication` field and subfields in the DATS model as usual.  Current

[2022-04-06 14:57] cmadjar commented on #761
In the backend database, when a dataset is added to CONP, there is a table called `dataset_ancestry` that stores the dataset relationship based on the DATS extra property `derivedFrom`. The table structure is as follows:
- id
- parent_dataset_id (example: projects/bigbrain-datalad)
- child_dataset_id (example: projects/BigBrain_3DROIs)
- date_created
- date_updated

The code of the portal will the

[2022-04-06 14:58] emmetaobrien commented on #761
Does that all work automatically, or is any manual intervention needed?

[2022-04-06 15:01] cmadjar commented on #761
There is a cronjob on the portal that automatically runs `flask update_datasets` every 15 minutes I believe and that command will update the `dataset_ancestry` table when there are relationships between datasets.

Then the code reads that table for proper display of the relationships between datasets.

[2022-04-06 15:01] emmetaobrien commented on #761
Excellent.

[2022-04-11 16:54] emmetaobrien opened #763 "Automate detection of updated parent datasets when updating derived datasets is required for consistency."
This issue proposes the use of the `dataset_ancestry` table documented in https://github.com/CONP-PCNO/conp-dataset/issues/761 to automatically identify cases where a parent dataset has been updated and derived datasets should be updated for consistency, such as https://github.com/CONP-PCNO/conp-dataset/pull/737 (this and the two immediately subsequent PRs corrected a problem of this sort which wa

[2022-04-27 20:12] #763 closed

[2022-06-03 18:46] emmetaobrien opened #782 "Minor format issue with validation of git configuration files."
The style guidelines that our validation process currently uses in tests require an empty line at the end of each file.  This causes potential issues with `datalad` and `git-annex` related configuration files in our datasets, such as `.gitmodules` and `.git/config`.  The process of adding a new dataset via `datalad` concatenates a couple of new lines to the end of these files after the empty line,